@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: 	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf')  format('opentype'),
	   	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
	   	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: 	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf')  format('opentype'),
	   	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
	   	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}