@font-face {
  font-family: 'lg_smartbold';
  src: url('../fonts/lg_smart_bold-webfont.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lg_smartlight';
  src: url('../fonts/lg_smart_light-webfont.eot');
  font-weight: normal;
  font-style: normal;
}