.header {
	background-image: url('../images/header.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	color: #ffffff;
	text-transform: uppercase;
}
.header-line {
	background-color: #0d904f;
	height: .3rem;
	margin: 1.8rem 0;
}
.home-text {
	text-align: justify;
	padding-top: 3.1rem;
}
.home-start {
	max-width: 18.7rem;
	width: 100%;
	background-color: #0d904f;
	border-color: #0d904f;
	margin: 3.1rem auto;	
}
.home-start:hover {
	background-color: #fff;
	color: #0d904f;
}
.home-info {
	max-width: 18.7rem;
	width: 100%;
	margin: 3.1rem auto;
}
.form-info {
	max-width: 18.7rem;
	width: 100%;
	margin: 1.8rem auto;
}
.info-heading {
	margin: 1rem 0;
}
.average {
	margin-bottom: 0;
	color: #0d904f;
}
.buttons {
	margin-bottom: 3rem;
}
@media (max-width: 991px) {
	.display-3 {
		font-size: 3.5rem;
	}
	.display-4 {
		font-size: 2.5rem;
	}
	.lead {
		text-transform: none;
	}
}
@media (max-width: 767px) {
	.display-3 {
		font-size: 2.5rem;
	}
	.display-4 {
		font-size: 1.5rem;
	}
	.lead {
		font-size: 1rem;
	}
}
@media (max-width: 575px) {
	.header {
		margin-bottom: 1.2rem;
		padding: 1.2rem 0;
	}
	.header-line {
		margin: 1.2rem 0;
	}
	.lead {
		margin-bottom: 0;
	}
	.display-3 {
		font-size: 1.5rem;
	}
	.home-text {
		padding-top: 0;
	}
	.home-start {
		max-width: 100%;
		margin-bottom: .6rem;
		margin-top: .6rem;
	}
	.home-info {
		max-width: 100%;
		margin-top: .6rem;
		margin-bottom: 1.2rem;
	}
	.form-info {
		margin-bottom: 1.2rem;
	}
	.info-heading {
		margin-top: 0;
		margin-bottom: 1.2rem;
	}
	.btn-lg {
		font-size: 1rem;
		line-height: 1.25;
		padding: .5rem .75rem !important;
	}
}