body {
    width: 100%;
    font-family: Isidora;
    color: #1D1D1B;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.main {
    width: 800px;
    height: 795px;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    opacity: 0;
}

.logo {
    margin-left: 44px;
    width: 400px;
    height: 120px;
    background-image: url('../img/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.branding {
    padding-top: 56px;
    padding-left: 44px;
    font-size: 24px;
}

.leftBar {
    position: absolute;
    left: 0;
    bottom: 54px;
    width: 11px;
}

.leftBar1 {
    height: 122px;
    background-color: #48BAC0;
}

.leftBar2 {
    height: 122px;
    background-color: #844693;
}

.leftBar3 {
    height: 122px;
    background-color: #EB6524;
}

.leftBar4 {
    height: 122px;
    background-color: #FCCD04;
}

.verticalText {
    position: absolute;
    top: 480px;
    left: -33px;
    transform: rotate(-90deg);
    font-size: 12px;
    color: #000;
}

.verticalTextRecent {
    position: absolute;
    top: 500px;
    left: -60px;
    transform: rotate(-90deg);
    font-size: 12px;
    color: #000;
}

.sections {
    width: 230px;
    margin-top: 50px;
    margin-left: 249px;
    font-size: 15px;
    color: #000;
}

.contactFrom {
    width: 176px;
    height: 446px;
    top: 250px;
    left: 249px;
    font-size: 24px;
    color: #000;
    border: 1px solid #1D1D1B;
    padding: 21px 27px;
    position: absolute;
    opacity: 0;
}

input {
    width: 100%;
    font-size: 12px;
    color: #1D1D1B;
    border: 1px solid #1D1D1B;
    padding: 4px 8px;
    margin-top: 12px;
    box-sizing: border-box;
}

input:focus {
    background-color: #F2F2F2;
}

input[type=checkbox] {
    margin-top: 12px;
    margin-left: -81px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #1D1D1B;
    width: 16px;
    height: 16px;
    display: none;
}

label {
    display: inline-block;
    position: relative;
    padding: 12px 0 0 25px;
    font-size: 12px;
    cursor: pointer;
}

label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #1D1D1B;
}

input[type=checkbox]:checked + label:before {
    background-image: url('../img/check.png');
    : background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

select {
    font-size: 12px;
    color: grey;
    cursor: pointer;
    width: 100%;
    padding-left: 4px;
    margin-top: 12px;
    box-sizing: border-box;
    border: 1px solid #1D1D1B;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../img/dropDown.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

select::-ms-expand {
    display: none;
}

select:focus {
    background: #F2F2F2;
}

option {
    font-size: 12px;
    padding: 4px 4px 4px 8px;
    color: grey;
    background: #F2F2F2;
}

textarea {
    height: 64px;
    font-size: 12px;
    color: grey;
    padding: 8px;
    width: 100%;
    margin-top: 12px;
    border: 1px solid #1D1D1B;
    resize: none;
    box-sizing: border-box;
}

textarea:focus {
    background-color: #F2F2F2;
}

input[type=submit] {
    width: 80%;
    margin-top: 5px;
    padding: 10px;
    color: #1D1D1B;
    background-color: #fff;
    margin-bottom: 40px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F2F2F2;
}

input[type=submit]:active {
    background-color: lightgrey;
}

.gesign img {
    height: 27px;
    width: auto;
}

.campaign img {
    margin-left: 5px;
    height: 35px;
    width: auto;
}

.photo img {
    height: 35px;
    width: auto;
}

.video img {
    height: 35px;
    width: auto;
}

.description {
    font-size: 12px;
    color: #1D1D1B;
}

.campaign {
    padding-top: 42px;
}

.photo {
    padding-top: 42px;
}

.video {
    padding-top: 42px;
}

.buttonRecent {
    position: absolute;
    cursor: pointer;
    width: 134px;
    height: 39px;
    right: 54px;
    bottom: 179px;
    border: 1px solid #1D1D1B;
    text-align: center;
}

.buttonRecent p {
    padding-top: 10px;
}

.buttonContact {
    position: absolute;
    cursor: pointer;
    width: 134px;
    height: 39px;
    right: 54px;
    bottom: 97px;
    border: 1px solid #1D1D1B;
    text-align: center;
}

.buttonContact p {
    padding-top: 10px;
}

.corner {
    position: absolute;
    width: 54px;
    height: 54px;
    bottom: 0;
    right: 0;
    border-top: 1px solid #1D1D1B;
    border-left: 1px solid #1D1D1B;
}
