section#articles-section {
	height: auto;
	background-color: #f4f4f4;
	padding-top: 69px;
	padding-bottom: 50px;
	position: relative;
	.col:last-child {
		overflow-x: hidden;
	}
	h3 {
		text-transform: uppercase;
		color: #222326;
		font-size: 1.5em;
		font-family: Karla-Bold;
		letter-spacing: 3px;
		margin-bottom: 37px;
		padding-top: 5px;
		display: inline-block;
	}
	form {
		display: inline-block;
		width: 740px;
		height: 30px;
		padding-left: 40px;
		margin-top: 12px;
		margin-left: 120px;
		font-size: 0.87em;
		vertical-align: top;
		position: relative;
		button {
			background: transparent url(../img/search-event-icon.png) no-repeat;
			background-position: center;
			border: none;
			outline: none;
			width: 40px;
			height: 22px;
			padding: 0;
			left: 0;
			position: absolute;
		}
		button:hover {
			cursor: pointer;
		}
		input {
			width: 370px;
			border: none;
			outline: none;
			border-bottom: 1px solid #cccccc;
			background: transparent;
			color: #aaaaaa;
			text-transform: uppercase;
			padding: 0 0 0 10px;
		}
		::placeholder {
		    color: #aaaaaa;
		}
		select {
			background: transparent;
			border: none;
			outline: none;
			color: #aaaaaa;
			text-transform: uppercase;
			padding: 0 5px;
			margin-left: 15px;
		}
		select:hover {
			cursor: pointer;
		}
		option {
			color: #aaaaaa;
			background: transparent;
			font-size: 0.87em;
			border: none;
		}
	}
	.articles-arrows {
		width: 100px;
		height: 25px;
		position: absolute;
		right: 10px;
		top: 8px;
		text-align: right;
		img {
			margin-left: 6px;
			margin-right: 6px;
			vertical-align: top;
		}
	}
	.articles-item {
		float: left;
		width: 364px;
		margin-right: 39px;
		a {
			text-decoration: none;
		}
		h4 {
			color: #321d14;
			text-decoration: none;
			font-family: Karla-Bold;
			font-size: 1.37em;
			letter-spacing: -0.5px;
		}
		.posted-by {
			color: #a6a6a6;
			font-size: 0.87em;
		}
		.posted-by-details {
			font-family: Karla-Bold;
			font-size: 0.87em;
			color: #6e6c6b;
		}
		img {
			margin-bottom: 17px;
			margin-top: 5px;
		}
		img:hover {
			box-shadow: 0 3px 5px #aaa;
		}
	}
}

@media screen and (max-width:1199px) {
	section#articles-section {
		form {
			margin-left: 25px;
			width: 583px;
			input {
				width: 273px;
			}
			select {
				margin-left: 5px;
			}
		}
	}
}

@media screen and (max-width:991px) {
	section#articles-section {
		form {
			margin-left: 30px;
			width: 320px;
			input {
				width: 100%;
			}
			select {
				display: none;
			}
		}
	}
}

@media screen and (max-width:767px) {
	section#articles-section {
		form {
			width: 100%;
			margin-left: -3px;
			margin-bottom: 14px;
		}
	}
}

@media screen and (max-width:575px) {
	section#articles-section {
		padding-top: 39px;
		padding-bottom: 25px;
		.container {
			max-width: 490px;
			margin: auto;
			overflow-x: hidden;
		}
		h3 {
			font-size: 1.37em;
			margin-bottom: 10px;
			padding-top: 9px;
		}
		.articles-items-wrapper {
			max-width: 200px;
			height: auto;
		}
		.articles-item {
			max-width: 302px;
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
			h4 {
				font-size: 1.25em;
			}
		}
		.articles-arrows {
			right: 2px;
		}
	}
}