section#articles-section {
	height: 491px;
	background-color: #f4f4f4;
	a {
		text-decoration: none;
	}
	h4 {
		color: #321d14;
		text-decoration: none;
		font-family: Karla-Bold;
		font-size: 1.29em;
	}
	.posted-by {
		color: #a6a6a6;
		font-size: 0.82em;
	}
	.posted-by-details {
		font-family: Karla-Bold;
		font-size: 0.82em;
	}
}