section#category-section {
	background-color: #ffffff;
	.category-section-row {
		height: 560px;
		width: auto;
		box-sizing: border-box;
		padding-bottom: 75px;
		overflow: hidden;
		padding-left: 9px;
		padding-right: 9px;
		.category-section-heading {
			height: auto;
			border-bottom: 1px solid #ded7d3;
			margin-bottom: 25px;
			padding-bottom: 20px;
			position: relative;
			.section-heading-icon {
				position: absolute;
				top: 5px;
				left: 0;
			}
			h3 {
				text-transform: uppercase;
				color: #2e2e2e;
				font-size: 1.62em;
				font-family: Karla-Bold;
				margin-left: 40px;
				margin-bottom: 0;
				display: inline-block;
			}
			.category-section-right {
				width: 26px;
				height: 26px;
				border: none;
				outline: none;
				float: right;
				background: transparent url('../img/category-right.png');
				margin-left: 7px;
			}
			.right-active {
				background: transparent url('../img/category-right-active.png');
			}
			.category-section-left {
				width: 26px;
				height: 26px;
				border: none;
				outline: none;
				float: right;
				background: transparent url('../img/category-left.png');
			}
			.left-active {
				background: transparent url('../img/category-left-active.png');
			}
			.category-section-right:hover, .category-section-left:hover {
				cursor: pointer;
			}
		}
		.articles-items-wrapper {
			width: 100%;
			.category-section-item {
				width: 208px;
				margin-right: 32px;
				height: 416px;
				position: relative;
				display: inline-block;
				float: left;
				.section-item-title {
					margin-top: 15px;
					margin-bottom: 0;
					color: #321d14;
					font-family: Karla-Bold;
					font-size: 1.25em;
					letter-spacing: -0.8px;
				}
				.section-item-author {
					color: #878787;
					font-size: .87em;
				}
				.section-item-price {
					color: #359d68;
					font-family: Karla-Bold;
					font-size: 1.25em;
					position: absolute;
					bottom: 34px;
					left: 0;
				}
				.section-item-currency {
					color: #b8b8b8;
					font-family: Karla-Bold;
					font-size: .75em;
					position: absolute;
					bottom: 54px;
					left: 65px;
				}
				.section-item-button {
					display: block;
					outline: none;
					background: transparent;
					border: 1px solid #ea9c26;
					color: #ea9c26;
					font-family: Karla-Bold;
					font-size: .81em;
					text-transform: uppercase;
					text-align: center;
					line-height: 38px;
					width: 140px;
					height: 40px;
					border-radius: 20px;
					position: absolute;
					left: 0;
					bottom: 0;
				}
				.section-item-button:hover, img:hover {
					text-decoration: none;
					box-shadow: 0 0 5px #333;
				}
			}
		}
	}
}

@media screen and (max-width:575px) {
	section#category-section {
		.category-section-row {
			height: auto;
			padding-bottom: 32px;
			width: 100%;
			max-width: 490px;
			margin: auto;
			.category-section-heading {
				padding-bottom: 10px;
				.section-heading-icon {
					top: 0;
				}
				h3 {
					font-size: 1.25em;
					width: 200px;
					padding-top: 3px;
					line-height: 1;
				}
			}
			.category-heading-doubleline {
				padding-bottom: 5px;
				.section-heading-icon {
					top: 5px;
				}
			}
			.articles-items-wrapper {
				.category-section-item {
					width: 145px;
					margin-right: 13px;
					height: 350px;
					img {
						width: 100%;
					}
					.section-item-title {
						line-height: 1;
					}
				}
			}
		}
	}
}