section#customer-section {
	height: auto;
	background-color: #fff;
	text-align: center;
	padding-top: 62px;
	padding-bottom: 54px;
	h4 {
		text-transform: uppercase;
		color: #2e2e2e;
		font-size: 1.87em;
		letter-spacing: -2px;
		font-family: Karla-Bold;
		margin-bottom: 14px;
	}
	p {
		color: #2e2e2e;
		margin-bottom: 73px;
		letter-spacing: -0.5px;
	}
	.total-score {
		background-color: #fdd05f;
		width: 227px;
		height: 284px;
		padding-top: 45px;
		color: #9e7715;
		font-family: Karla-Bold;
		text-transform: uppercase;
		float: left;
		display: inline-block;
		.total-score-circle {
			width: 150px;
			height: 150px;
			box-sizing: border-box;
			border: 8px solid #9e7715;
			margin: 0 auto 20px auto;
			border-radius: 75px;
			text-align: center;
			padding-top: 25px;
			span#total-score-number {
				font-size: 3.44em;
			}
		}
		span.total-score-out {
			font-size: 1.41em;
		}
	}
	.detailed-score {
		display: inline-block;
		width: 344px;
		.detailed-score-title {
			border-bottom: 1px solid #e8e8e8;
			height: 76px;
			text-align: left;
			font-size: 0.87em;
			padding: 6px 40px 0 147px;
			position: relative;
			span#percentage {
				position: absolute;
				left: 30px;
				top: 11px;
				color: #505151;
				font-family: Karla-Bold;
				font-size: 3.72em;
				letter-spacing: -3px;
				line-height: 1;
			}
		}
		.detailed-score-rating {
			display: table;
			width: 344px;
			padding: 10px 0;
			.detailed-score-column {
				display: table-cell;
				width: 50%;
				text-align: right;
				font-size: 1.12em;
			}
		}
		table {
			width: 344px;
			td:first-child {
				padding: 0 10px 5px 0;
				vertical-align: bottom;
				text-align: right;
				font-size: 0.75em;
			}
			td:nth-child(2) {
				padding: 0 10px 5px 10px;
				vertical-align: bottom;
				text-align: right;
				font-size: 0.87em;
				font-family: Karla-Bold;
				width: 60px;
			}
			td:last-child {
				width: 145px;
				padding: 0 0 5px 10px;
				vertical-align: bottom;
			}
		}
	}
	.customer {
		border: 1px solid #d9d9d9;
		box-sizing: border-box;
		box-shadow: 0 0 40px #ededed;
		padding: 15px 20px 0 80px;
		text-align: left;
		color: #35363b;
		position: relative;
		p {
			margin: 5px 0 10px 0;
			line-height: 1.25;
		}
		.customer-feedback {
			font-size: 0.87em;
			line-height: 16px;
			margin-top: 10px;
		}
		img.customer-image {
			position: absolute;
			left: 20px;
			top: 20px;
		}
	}
	.customer:first-child {
		margin-bottom: 15px;
	}
}

@media screen and (max-width:1199px) {
	section#customer-section {
		.total-score {
			width: 180px;
			.total-score-circle {
				width: 120px;
				height: 120px;
				border-radius: 60;
				padding-top: 15px;
				span#total-score-number {
					font-size: 3em;
				}
			}
		}
		.detailed-score {
			width: 280px;
			.detailed-score-title {
				padding-right: 0;
				padding-left: 130px;
				span#percentage {
					left: 20px;
				}
			}
			.detailed-score-rating {
				width: 100%;
				.detailed-score-column {
					text-align: center;
					font-size: 1em;
				}
			}
			table {
				width: 100%;
			}
		}
	} 
}

@media screen and (max-width:991px) {
	section#customer-section {
		p {
			margin-bottom: 25px;
		}
		.customer:first-child {
			margin-top: 28px;
		}
		.detailed-score {
			float: right;
			width: 344px;
			.detailed-score-rating {
				.detailed-score-column {
					text-align: right;
					font-size: 1.12em;
				}
			}
		}
		.total-score {
			width: 300px;
		}
	} 
}

@media screen and (max-width:767px) {
	section#customer-section {
		.total-score {
			min-width: 110px;
			width: 35%;
			max-width: 200px;
			padding-top: 60px;
			.total-score-circle {
				width: 100px;
				height: 100px;
				border-radius: 50px;
				border: 5px solid #9e7715;
				padding-top: 13px;
				span#total-score-number {
					font-size: 2.6em;
				}
			}
			span.total-score-out {
				font-size: 1.2em;
			}
		}
		.detailed-score {
			width: 338px;
			.detailed-score-rating {
				width: 338px;
			}
			table {
				width: 338px;
			}
		}
	}
}

@media screen and (max-width:575px) {
	section#customer-section {
		padding-top: 42px;
		padding-bottom: 32px;
		.container {
			max-width: 490px;
			margin: auto;
		}
		h4 {
			font-size: 1.5em;
			padding: 0 45px;
		}
		p {
			font-size: 0.94em;
		}
		.total-score {
			height: 185px;
			min-width: 99px;
			width: 31%;
			max-width: 180px;
			padding-top: 45px;
			.total-score-circle {
				width: 56px;
				height: 56px;
				border-radius: 28px;
				border: 3px solid #9e7715;
				padding-top: 9px;
				font-family: Karla-Regular;
				span#total-score-number {
					font-size: 1.31em;
				}
			}
			span.total-score-out {
				font-size: 1em;
			}
		}
		.detailed-score {
			min-width: 203px;
			width: 63%;
			max-width: 283px;
			.detailed-score-title {
				padding: 0 0 0 65px;
				height: 50px;
				line-height: 1.1;
				span#percentage {
					font-size: 1.87em;
					left: 11px;
				}
			}
			.detailed-score-rating {
				width: 100%;
				.detailed-score-column {
					padding-left: 5px;
					text-align: center;
					font-size: 0.94em;
					letter-spacing: -0.5px;
					img {
						width: 100%;
						padding-left: 5px;
					}
				}
			}
			table {
				width: 100%;
				text-align: right;
				td:first-child {
					padding: 0;
					font-size: 0.69em;
					line-height: 12px;
				}
				td:nth-child(2) {
					padding: 0 5px 0 5px;
					font-size: 0.75em;
					line-height: 12px;
					width: 50px;
				}
				td:last-child {
					min-width: 96px;
					width: 50%;
					padding: 0;
					line-height: 1em;
					img {
						min-width: 91px;
						width: 90%;
					}
				}
			}
		}
		.customer {
			font-size: 0.94em;
			padding-top: 20px;
			.customer-feedback {
				padding-bottom: 20px;
			}
		}
	}
}