section#customer-section {
	height: 581px;
	background-color: #fff;
	text-align: center;
	padding-top: 62px;
	h4 {
		text-transform: uppercase;
		color: #2e2e2e;
		font-size: 1.87em;
		letter-spacing: -2px;
		font-family: Karla-Bold;
		margin-bottom: 14px;
	}
	p {
		color: #2e2e2e;
		margin-bottom: 73px;
		letter-spacing: -0.5px;
	}
	.total-score {
		background-color: #fdd05f;
		width: 227px;
		height: 284px;
		padding-top: 45px;
		color: #9e7715;
		font-family: Karla-Bold;
		text-transform: uppercase;
		font-size: 1.41em;
		float: left;
		display: inline-block;
		.total-score-circle {
			width: 150px;
			height: 150px;
			box-sizing: border-box;
			border: 8px solid #9e7715;
			margin: 0 auto 20px auto;
			border-radius: 75px;
			font-size: 2.44em;
			text-align: center;
			padding-top: 29px;
		}
	}
	.detailed-score {
		display: inline-block;
		width: 100%;
		max-width: 344px;
		.detailed-score-title {
			border-bottom: 1px solid #e8e8e8;
			height: 76px;
			text-align: left;
			font-size: 0.87em;
			padding: 6px 40px 0 147px;
			position: relative;
			span#percentage {
				position: absolute;
				left: 30px;
				top: 11px;
				color: #505151;
				font-family: Karla-Bold;
				font-size: 3.72em;
				letter-spacing: -3px;
				line-height: 1;
			}
		}
		.detailed-score-rating {
			display: table;
			width: 349px;
			padding: 10px 0;
			.detailed-score-column {
				display: table-cell;
				width: 50%;
				text-align: right;
				font-size: 1.12em;
				.detailed-score-star {
					font-family: Karla-Bold;
					padding-left: 15px;
				}
			}
		}
		table {
			width: 349px;
			td:first-child {
				padding: 0 10px 5px 0;
				vertical-align: bottom;
				text-align: right;
				font-size: 0.75em;
			}
			td:nth-child(2) {
				padding: 0 10px 5px 10px;
				vertical-align: bottom;
				text-align: right;
				font-size: 0.87em;
				font-family: Karla-Bold;
				width: 60px;
			}
			td:last-child {
				width: 145px;
				padding: 0 0 5px 10px;
				vertical-align: bottom;
			}
		}
	}
	.customer {
		height: 135px;
		border: 1px solid #d9d9d9;
		box-sizing: border-box;
		box-shadow: 0 0 40px #ededed;
		padding: 15px 20px 0 80px;
		text-align: left;
		color: #35363b;
		position: relative;
		p {
			margin: 5px 0;
			line-height: 1.25;
		}
		.customer-feedback {
			font-size: 0.87em;
			line-height: 16px;
			margin-top: 10px;
		}
		img.customer-image {
			position: absolute;
			left: 20px;
			top: 20px;
		}
	}
	.customer:first-child {
		margin-bottom: 15px;
	}
}
@media screen and (max-width:1369px) {
	section#customer-section {

	}
}