footer {
	height: 328px;
	background-color: #171514;
	padding-top: 72px;
	color: #9a928e;
	font-size: 0.94em;
	position: relative;
	.footer-divider-left {
		width: 436px;
		height: 1px;
		background-color: #272625;
		position: absolute;
		top: 92px;
		left: 0;
	}
	.footer-divider-right {
		width: 436px;
		height: 1px;
		background-color: #272625;
		position: absolute;
		top: 92px;
		right: 0;
	}
	.wrapper {
		margin: 0 auto;
		max-width: 480px;
		text-align: center;
		position: relative;
		.footer-social {
			margin-right: 10px;
		}
		.last{
			margin-right: 0;
		}
		.footer-logo {
			margin-bottom: 45px;
		}
		ul {
			list-style-type: none;
			padding-left: 0;
			padding-top: 29px;
			li {
				display: inline-block;
				padding-right: 25px;
			}
			.link-divider::after {
				content: url('../img/footer-link-divider.png');
				position: absolute;
				padding-left: 13px;
			}
			li:last-child {
				padding-right: 0;
			}
			a {
				color: inherit;
			}
		}
		p {
			margin-bottom: 0;
			font-size: 0.87em;
		}
		ul:last-child {
			padding-top: 0;
			font-size: 0.87em;
		}
	}
}
@media screen and (max-width:575px) {
	footer {
		padding-top: 45px;
		.footer-divider-left, .footer-divider-right {
			display: none;
		}
	}
}