header {
	height: 84px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	border-bottom: 1px solid #cccdc0;
	background-color: #fff;
	nav {
		max-width: 1330px;
		width: 100%;
		margin: auto;
		height: inherit;
	}
}
.header-logo-abbr {
	display: none;
}
.header-logo {
	margin-top: 22px;
	float: left;
}
.header-menu-burger {
	display: none;
}
.header-menu {
	list-style-type: none;
	padding: 0;
	display: inline-block;
	margin-top: 30px;
	margin-left: 58px;
	float: left;
	li {
		display: inline-block;
		padding-right: 45px;
		text-transform: uppercase;
		color: #57595b;
		font-weight: bold;
		font-size: 0.94em;
	}
	li:last-child {
		padding-right: 0;
	}
	a {
		color: inherit;
	}
	a:hover {
		color: inherit;
		text-decoration: none;
	}
}
.header-search {
	display: inline-block;
	width: 408px;
	height: 44px;
	border-radius: 22px;
	border: 1px solid #d2d2d2;
	margin-top: 19px;
	margin-left: 48px;
	float: left;
	padding: 8px 10px 5px 19px;
	form {
		input {
			border: none;
			outline: none;
			padding-left: 26px;
			background: #fff url('../img/search-icon.png') no-repeat;
			background-position: 0 2px;
			width: 310px;
			color: #888c89;
			font-size: .87em;
			border-right: 1px solid #d2d2d2;
		}
		button {
			border: none;
			outline: none;
			font-size: .87em;
			color: #6b716d;
			background-color: #fff;
			width: 60px;
			padding-left: 11px;
		}
		button:hover {
			cursor: pointer;
		}
		option {
			font-size: .87em;
			color: #6b716d;
		}
	}
}
.cart-account {
	float: right;
}
.header-cart {
	margin-top: 18px;
	margin-left: 23px;
	float: left;
}
.header-cart-items {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: 1px solid $green;
	display: inline-block;
	margin-top: 15px;
	margin-left: -15px;
	color: $green;
	font-weight: bold;
	font-size: 0.81em;
	text-align: center;
	background: #fff;
	float: left;
	p {
		margin-top: -1px;
	}
}
.header-divider {
	margin-top: 20px;
	margin-left: 15px;
	float: left;
}
.header-account {
	margin: 25px 13px 0 18px;
	float: left;
}
.account-text {
	color: #57595b;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.81em;
	padding-top: 22px;
	line-height: 1.4;
	display: inline-block;
	float: left;
}
.mobile-cart, .header-account-mobile, .header-search-mobile, .header-burger-divider, .header-search-divider, .header-account-divider, .horizontal-divider {
	display: none;
}

@media screen and (max-width:1370px) {
	header {
		nav {
			max-width: 1170px;
			width: 100%;
		}
	}
	.header-menu {
		margin-left: 30px;
		li {
			padding-right: 25px;
			font-size: .87em;
		}
	}
	.header-search {
		margin-left: 30px;
		width: 352px;
		form {
			input {
				width: 254px;
			}
		}
	}
}

@media screen and (max-width:1199px) {
	header {
		nav {
			max-width: 942px;
		}
	}
	.header-search {
		margin-left: 30px;
		width: 262px;
		form {
			input {
				width: 165px;
			}
		}
	}
	.account-text {
		display: none;
	}
	.header-account {
		margin-right: 3px;
	}
	.header-cart {
		margin-left: 10px;
	}
}

@media screen and (max-width:991px) {
	header {
		nav {
			max-width: 702px;
			position: relative;
		}
	}
	.header-menu-burger {
		display: block;
		float: left;
		margin-top: 18px;
		margin-left: 10px;
		cursor: pointer;
	}
	.header-menu {
		display: none;
	}
	.header-search {
		margin-left: 10px;
	}
}
@media screen and (max-width:767px) {
	header {
		height: 52px;
		nav {
			max-width: 522px;
		}
	}
	.header-menu-burger {
		margin-top: 1px;
		margin-left: 10px;
		float: none;
		display: block;
		position: absolute;
		right: 225px;
	}
	.mobile-cart {
		display: inline-block;
		position: absolute;
		right: 0;
		margin-top: 1px;
	}
	.header-search, .header-cart, .header-cart-items, .header-account, .header-divider {
		display: none;
	}
	.header-account-mobile {
		display: block;
		position: absolute;
		right: 75px;
	}
	.header-search-mobile {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 150px;
		margin-top: 1px;
	}
	.header-logo {
		margin-top: 8px;
	}
	.header-burger-divider {
		display: block;
		position: absolute;
		right: 210px;
	}
	.header-search-divider {
		display: block;
		position: absolute;
		right: 137px;
	}
	.header-account-divider {
		display: block;
		position: absolute;
		right: 62px;
	}
	.header-search {
		position: absolute;
		top: 70px;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
		max-width: 408px;
		width: 100%;
		margin: auto;
		background-color: #fff;
		box-shadow: 0 0 30px #999;
		form {
			input {
				width: 310px;
			}
		}
	}
}
@media screen and (max-width:575px) {
	header {
		height: auto;
		height: 107px;
		nav {
			max-width: 302px;
			padding-top: 10px;
			a:first-child {
				background-color: red;
			}
		}
	}
	.header-logo {
		float: none;
		display: block;
		margin: 0 auto 12px auto;
	}
	.header-menu-burger {
		right: inherit;
		margin-left: 0;
		left: 0;
	}
	.header-search-mobile {
		right: 167px;
	}
	.header-account-mobile {
		right: 85px;
	}
	.header-burger-divider {
		right: 233px;
	}
	.header-search-divider {
		right: 150px;
	}
	.header-account-divider {
		right: 67px;
	}
	.horizontal-divider {
		display: block;
		width: 100%;
		height: 1px;
		background-color: #cccdc0;
		position: absolute;
		top: 54px;
	}
}

/*
@media screen and (max-width:575px) {
	header {
		height: auto;
		.header-desktop {
			display: block;
			width: 175px;
			height: 53px;
			margin: auto;
			border: none;
			ul, .header-search, .cart-account, .header-menu-burger {
				display: none;
			}
			.header-logo {
				margin: 8px auto 0 auto;
				display: inline;
			}
		}
		.header-mobile {
			border-top: 1px solid #cccdc0;
			height: 53px;
			text-align: center;
			width: 100%;
			vertical-align: middle;
			position: relative;
			.header-logo {
				display: none;
			}
			img {
				margin: 0 6px;
			}
			.drop-down-menu {
				left: 0;
				width: 100%;
			}
			.search-mobile-wrapper {
				.header-search {
					max-width: 320px;
					form {
						input {
							width: 185px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:380px) {
	header {
		.header-mobile {
			img {
				margin: 0 2px;
			}
		}
	}
}
*/