header {
	height: 84px;
	background-color: #fff;
	border-bottom: 1px solid #cccdc0;
	div {
		background-color: #fff;
		width: 100%;
		height: inherit;
		max-width: 1370px;
		margin: 0 auto;
		border-bottom: inherit;
		img {
			padding: 22px 0 0 20px;
		}
	}
}