header {
	height: 84px;
	background-color: #fff;
	border-bottom: 1px solid #cccdc0;
	div {
		background-color: #fff;
		width: 100%;
		height: inherit;
		max-width: 1370px;
		margin: 0 auto;
		border-bottom: inherit;
		.header-logo {
			margin: 23px 0 0 21px;
			float: left;
		}
		ul {
			list-style-type: none;
			padding: 0;
			display: inline-block;
			margin-top: 30px;
			margin-left: 58px;
			float: left;
			li {
				display: inline-block;
				padding-right: 45px;
				text-transform: uppercase;
				color: #57595b;
				font-family: Karla-Bold;
				font-size: 0.94em;
			}
			li:last-child {
				padding-right: 0;
			}
			a {
				color: inherit;
			}
			a:hover {
				color: inherit;
				text-decoration: none;
			}
		}
		.header-search {
			display: inline-block;
			width: 408px;
			height: 44px;
			border-radius: 22px;
			border: 1px solid #d2d2d2;
			margin-top: 19px;
			margin-left: 48px;
			float: left;
			padding: 8px 10px 5px 19px;
			form {
				input {
					border: none;
					outline: none;
					padding-left: 26px;
					background-image: url('../img/search-icon.png');
					background-repeat: no-repeat;
					background-position: 0 2px;
					width: 310px;
					color: #888c89;
					font-size: .87em;
					border-right: 1px solid #d2d2d2;
				}
				select {
					border: none;
					outline: none;
					font-size: .87em;
					color: #6b716d;
					width: 60px;
					padding-left: 5px;
				}
				option {
					font-size: .87em;
					color: #6b716d;
				}
			}
		}
		img.header-cart {
			margin-top: 18px;
			margin-left: 23px;
			float: left;
		}
		.header-cart-items {
			width: 20px;
			height: 20px;
			border-radius: 10px;
			border: 1px solid #3dcc9b;
			display: inline-block;
			margin-top: 15px;
			margin-left: -15px;
			color: #3dcc9b;
			font-family: Karla-Bold;
			font-size: 0.81em;
			text-align: center;
			float: left;
			p {
				margin-top: -1px;
			}
		}
		.header-divider {
			margin-top: 20px;
			margin-left: 15px;
			float: left;
		}
		.header-account {
			margin: 25px 13px 0 18px;
			float: left;
		}
		.account-text {
			color: #57595b;
			text-transform: uppercase;
			font-family: Karla-Bold;
			font-size: 0.81em;
			padding-top: 22px;
			line-height: 1.4;
			display: inline-block;
			float: left;
		}
	}
}