@font-face {
    font-family: 'Karla-Bold';
    src: url('../fonts/karla-bold/Karla-Bold.eot?#iefix') format('embedded-opentype'),
    	url('../fonts/karla-bold/Karla-Bold.woff') format('woff'),
    	url('../fonts/karla-bold/Karla-Bold.ttf') format('truetype'),
    	url('../fonts/karla-bold/Karla-Bold.svg#Karla-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Karla-Regular';
  src: url('../fonts/karla-regular/Karla-Regular.eot?#iefix') format('embedded-opentype'), 
  	url('../fonts/karla-regular/Karla-Regular.woff') format('woff'),
  	url('../fonts/karla-regular/Karla-Regular.ttf') format('truetype'),
  	url('../fonts/karla-regular/Karla-Regular.svg#Karla-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: Karla-Regular;
	font-size: 16px;
}

$green: #3dcc9b;
$yellow: #fdd05f;

@import 'header';
@import 'main-banner';
@import 'special-offer';
@import 'category';
@import 'bottom-banner';
@import 'articles';
@import 'customer';
@import 'footer';

@import 'pages/login';
@import 'pages/register';
@import 'pages/member';
@import 'pages/info';
@import 'pages/password';
@import 'pages/address';
@import 'pages/order';
@import 'pages/details';
@import 'pages/success';
@import 'pages/cart';
@import 'pages/checkout';
@import 'pages/author';
@import 'pages/book';