@font-face {
    font-family: Karla-Bold;
    src: url(../fonts/Karla-Bold.ttf);
}
@font-face {
    font-family: Karla-Italic;
    src: url(../fonts/Karla-Italic.ttf);
}
@font-face {
    font-family: Karla-Regular;
    src: url(../fonts/Karla-Regular.ttf);
}
body {
	font-family: Karla-Regular;
	font-size: 100%;
}
header {
	height: 84px;
	background-color: #fff;
	border-bottom: 1px solid #cccdc0;
	div {
		background-color: #fff;
		width: 100%;
		height: inherit;
		max-width: 1370px;
		margin: 0 auto;
		border-bottom: inherit;
		img {
			padding: 22px 0 0 20px;
		}
	}
}
section#main-banner-section {
	height: 494px;
	line-height: 494px;
	background: #e5e6d2 url('../img/main-banner.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
	.main-banner-vertical {
		display: inline-block;
		vertical-align: middle;
		margin-left: -50px;
		line-height: 56px;
		padding-left: 20px;
	}
	h1 {
		font-size: 3em;
		line-height: 1;
		margin-bottom: 0;
	}
	h2 {
		font-size: 3.5em;
		font-family: Karla-Bold;
		line-height: 1;
		margin-bottom: 0;
	}
	.main-banner-button {
		height: 56px;
		width: 390px;
		background-color: #fdd05f;
		border-radius: 28px;
		margin: 30px 0 10px 0;
		display: block;
		font-family: Karla-Bold;
		text-transform: uppercase;
		font-size: 0.85em;
		text-align: center;
		text-decoration: none;
		color: inherit;
		position: relative;
	}
	.main-banner-button:hover {
		box-shadow: 0 0 20px #aaa;
	}
	.main-banner-button::after {
		content: url('../img/main-banner-arrow.png');
		position: absolute;
		background-size: 100%;
		top: 2px;
		right: 25px;
	}
	img {
		position: absolute;
		right: -100px;
		top: 70px;
	}
}
section#special-offer-section {
	height: 956px;
	background-color: #fff;
	padding-top: 70px;
	img.special-offer-1 {
		width: 100%;
		max-width: 378px;
		margin-bottom: 30px;
	}
	img.special-offer-2 {
		width: 100%;
		max-width: 774px;
		margin-bottom: 30px;
	}
	img:hover {
		box-shadow: 0 0 20px #aaa;
	}
}
section.category-section {
	height: 561px;
	background-color: #ffffff;
}
section#bottom-banner-section {
	height: 352px;
	line-height: 352px;
	background: #43cf9f url('../img/bottom-banner.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	text-align: center;
	position: relative;
	.bottom-banner-vertical {
		display: inline-block;
		vertical-align: middle;
		margin-left: -50px;
		line-height: 56px;
		padding-left: 20px;
		line-height: 1;
	}
	h3 {
		color: #fff;
		font-family: Karla-Bold;
		font-size: 3.5em;
		line-height: 1;
		margin-bottom: 0;
	}
	p {
		color: #fff;
		font-family: Karla-Regular;
		font-size: 1.9em;
		line-height: 1;
		margin-bottom: 40px;
	}
	form {
		width: 753px;
		margin: 0 auto;
		text-align: left;
		font-size: 0.85em;
	}
	input {
		width: 527px;
		height: 66px;
		border-bottom-left-radius: 33px;
		border-top-left-radius: 33px;
		border: none;
		outline: none;
		padding: 0 0 0 50px;
		color: #414241;
		position: relative;
	}
	button {
		width: 226px;
		height: 66px;
		border-bottom-right-radius: 33px;
		border-top-right-radius: 33px;
		text-transform: uppercase;
		font-family: Karla-Bold;
		color: #2a2e28;
		border: none;
		outline: none;
		padding: 0;
		background-color: #fdd05f;
		position: absolute;
		right: 209px;
	}
	button:hover {
		cursor: pointer;
		background-color: #e3bb55;
	}
	button::before {
		content: url('../img/email-icon.png');
		position: absolute;
		left: 35px;
		top: 27px;
	} 
}
section#articles-section {
	height: 491px;
	background-color: #f4f4f4;
}
section#customer-section {
	height: 581px;
	background-color: #fff;
	text-align: center;
	padding-top: 70px;
	h4 {
		text-transform: uppercase;
		color: #2e2e2e;
		font-size: 30px;
		font-family: Karla-Bold;
		margin-bottom: 20px;
	}
	p {
		color: #2e2e2e;
		margin-bottom: 60px;
	}
	.total-score {
		background-color: #fdd05f;
		width: 227px;
		height: 284px;
		padding-top: 45px;
		color: #9e7715;
		font-family: Karla-Bold;
		text-transform: uppercase;
		font-size: 24px;
		.total-score-circle {
			width: 150px;
			height: 150px;
			box-sizing: border-box;
			border: 8px solid #9e7715;
			margin: 0 auto 20px auto;
			border-radius: 75px;
			font-size: 60px;
			text-align: center;
			padding-top: 20px;
		}
	}
}
footer {
	height: 328px;
	background-color: #171514;
	padding-top: 70px;
	color: #9a928e;
	font-size: 0.85em;
	.wrapper {
		margin: 0 auto;
		max-width: 480px;
		text-align: center;
		position: relative;
		.footer-social {
			margin-right: 10px;
		}
		.last{
			margin-right: 0;
		}
		.footer-logo {
			margin-bottom: 45px;
		}
		.first::before {
			content: url('../img/footer-divider.png');
			position: absolute;
			right: 380px;
		}
		.last::after {
			content: url('../img/footer-divider.png');
			position: absolute;
			right: -335px;
		}
		ul {
			list-style-type: none;
			padding-left: 0;
			padding-top: 29px;
			li {
				display: inline-block;
				padding-right: 25px;
			}
			.link-divider::after {
				content: url('../img/footer-link-divider.png');
				position: absolute;
				padding-left: 13px;
			}
			li:last-child {
				padding-right: 0;
			}
			a {
				color: inherit;
			}
		}
		p {
			margin-bottom: 0;
		}
		ul:last-child {
			padding-top: 0;
		}
	}
}