@font-face {
    font-family: Karla-Bold;
    src: url(../fonts/Karla-Bold.ttf);
}
@font-face {
    font-family: Karla-Italic;
    src: url(../fonts/Karla-Italic.ttf);
}
@font-face {
    font-family: Karla-Regular;
    src: url(../fonts/Karla-Regular.ttf);
}
body {
	font-family: Karla-Regular;
	font-size: 16px;
}

@import 'header';
@import 'main-banner';
@import 'special-offer';
@import 'category';
@import 'bottom-banner';
@import 'articles';
@import 'customer';
@import 'footer';