<FilesMatch ".(gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>
<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 60 minutes"
</ifModule>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.dkireev.github.io$ [NC]
RewriteRule ^(.*)$ https://dkireev.github.io/$1 [R=301,L]