#author {
	margin-top: 84px;
	padding: 60px 0 90px 0;
	h4 {
		margin-left: 6px;
		margin-right: 6px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ded7d3;
		font-weight: bold;
		color: #2e2e2e;
	}
	.category-section-item {
		margin: 30px 14px 0 14px;
	}
}
.books-row {
	padding-left: 0;
	padding-right: 0;
}
.author-wrapper {
	width: 810px;
	margin: 0 auto 40px auto;
	img {
		float: left;
		margin-right: 35px;
		max-width: 199px;
		height: auto;
		max-height: 250px;
	}
}
.author-biography {
	float: right;
	width: 576px;
	margin-bottom: 20px;
	h3 {
		color: #321d14;
		font-weight: bold;
		font-size: 1.5em;
		margin-bottom: 15px;
	}
	table {
		td {
			vertical-align: top;
			font-size: .87em;
			padding-bottom: 5px;
			a {
				color: inherit;
			}
		}
		td:first-child {
			font-weight: bold;
			font-size: .94em;
			width: 130px;
		}
	}
}
.author-description {
	float: right;
	width: 576px;
	font-size: .94em;
}
@media screen and (max-width:1199px) {
	#author {
		.category-section-item {
			margin: 30px 9px 0 9px;
		}
	}
}
@media screen and (max-width:991px) {
	#author {
		.category-section-item {
			margin: 30px 8px 0 8px;
		}
	}
	.author-wrapper {
		width: 100%;
	}
	.author-biography {
		width: 468px;
	}
	.author-description {
		float: left;
		width: 100%;
		margin-top: 30px;
	}
}
@media screen and (max-width:767px) {
	#author {
		margin-top: 52px;
	}
	.author-biography {
		width: 288px;
	}
}
@media screen and (max-width:575px) {
	#author {
		margin-top: 107px;
		padding: 9px 0 15px 0;
		.category-section-item {
			margin: 30px 7px 0 7px;
		}
	}
	.author-wrapper {
		img {
			float: left;
			margin-right: 10px;
			max-width: 120px;
			height: auto;
		}
	}
	.author-biography {
		width: 70%;
		h3 {
			font-size: 1em;
		}
		table {
			td {
				font-size: .81em;
			}
			td:first-child {
				font-size: .81em;
				width: 75px;
			}
		}
	}
	.author-description {
		margin-top: 0;
		p {
			margin-bottom: 0;
		}
	}
	.books-row .clearfix {
		width: 477px;
		margin: auto;
	}
}
@media screen and (max-width:493px) {
	.books-row .clearfix {
		width: 321px;
		margin: auto;
	}
	.author-biography {
		float: left;
		width: 60%;
	}
}
@media screen and (max-width:359px) {
	.author-biography {
		width: 56%;
	}
}