#book {
	margin-top: 84px;
	padding: 60px 0 90px 0;
	h4 {
		margin-left: 6px;
		margin-right: 6px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ded7d3;
		font-weight: bold;
		color: #2e2e2e;
	}
	.category-section-row {
		margin-top: 40px;
		padding-bottom: 0;
		h3 {
			text-transform: none;
			font-size: 1.5em;
			margin-left: 0;
		}
	}
}
.book-wrapper {
	margin: 0 auto 40px auto;
	position: relative;
	.book-cover {
		float: left;
		margin-right: 35px;
		width: 208px;
		height: auto;
		cursor: pointer;
	}
	.see-preview {
		position: absolute;
		left: 80px;
		top: 271px;
		font-size: .75em;
		color: #525252;
		cursor: pointer;
	}
	.see-preview::before {
		content: url('../img/preview.png');
		position: absolute;
		top: 1px;
		left: -25px;
	}
	.see-preview:hover::before {
		content: url('../img/preview-hover.png');
	}
}
.book-details {
	float: left;
	width: 630px;
	h3 {
		color: #321d14;
		font-weight: bold;
		font-size: 1.5em;
		margin-bottom: 5px;
	}
	.book-by-author {
		font-size: 1em;
		color: #878787;
		margin-bottom: 5px;
	}
	img {
		box-shadow: none;
		margin-right: 15px;
	}
	.reviews-number {
		color: #525252;
		font-size: .87em;
		padding-top: 5px;
		margin-bottom: 10px;
	}
	.book-type {
		color: #525252;
		font-size: .94em;
		margin-bottom: 10px;
	}
	.book-categories {
		color: #525252;
		font-size: .94em;
		a {
			color: inherit;
		}
	}
}
.book-description {
	float: left;
	width: 630px;
	font-size: .94em;
	p:first-child {
		font-weight: bold;
		margin-bottom: 0;
	}
}
.buy-book {
	width: 271px;
	border: 1px solid #dadbdb;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	p:first-child {
		color: #525252;
		font-size: .94em;
		margin-bottom: 10px;
	}
}
.book-buy-button {
	border: none;
	background-color: #fdd05f;
	color: #2a2e28;
	height: 50px;
	border-radius: 25px;
	line-height: 50px;
	width: 100%;
	position: relative;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: .87em;
	margin-top: 25px;
}
.sold-out {
	background-color: #dadbdb;
	cursor: default;
}
.book-buy-button:hover {
	text-decoration: none;
	color: inherit;
    box-shadow: 0 3px 5px #aaa;
}
.sold-out:hover {
	box-shadow: none;
	background-color: #dadbdb;
}
.book-buy-price {
	color: #359d68;
	font-weight: bold;
	font-size: 1.25em;
	display: inline;
	margin-right: 10px;
}
.book-buy-currency {
	color: #b8b8b8;
	font-size: .75em;
	font-weight: bold;
}
.add-wishlist {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 10px;
	position: relative;
	cursor: pointer;
}
.add-wishlist::before {
	content: url('../img/wishlist.png');
	position: absolute;
	top: 2px;
	left: 36px;
}
.add-wishlist:hover::before {
	content: url('../img/wishlist-hover.png');
}
.book-reviews {
	h5 {
		font-size: 1em;
		color: #525252;
		font-weight: bold;
		margin-bottom: 20px;
	}
	button {
		width: 130px;
		height: 28px;
		border-radius: 14px;
		outline: none;
		background: none;
		border: 1px solid #525252;
		color: #525252;
		font-size: .94em;
		margin-bottom: 30px;
		cursor: pointer;
	}
	button:hover {
	    box-shadow: 0 3px 5px #aaa;
	}
}
.book-reviews > p {
	font-size: .94em;
	cursor: pointer;
	position: relative;
}
.book-reviews > p::after {
	content: url('../img/reviews-arrow.png');
	position: absolute;
	top: 0;
	left: 110px;
}
.book-review-item {
	width: 100%;
	max-width: 900px;
	padding-left: 30px;
	margin-bottom: 20px;
	img {
		vertical-align: top;
		float: left;
	}
	.book-review-name {
		display: inline-block;
		float: left;
		width: 112px;
		margin-left: 30px;
		margin-top: 10px;
		p {
			color: #4b81db;
			font-weight: bold;
			margin-bottom: 0;
		}
	}
	.book-review-text {
		width: 630px;
		display: inline-block;
		float: left;
		font-size: .94em;
		span {
			color: #878787;
		}
		p {
			margin-top: 10px;
		}
	}
}
@media screen and (max-width:1199px) {
	.book-wrapper {
		.book-cover {
			margin-right: 20px;
		}
	}
	.book-details {
		width: 422px;
		.book-by-author {
			font-size: .81em;
		}
		img {
			box-shadow: none;
			margin-right: 15px;
			width: 50%;
			max-width: 147px;
			height: auto;
		}
		.reviews-number {
			font-size: .81em;
		}
		.book-type, .book-categories {
			font-size: .81em;
		}
	}
	.book-description {
		width: 422px;
	}
	.book-review-item {
		padding-left: 20px;
		.book-review-name {
			margin-left: 20px;
		}
	}
}
@media screen and (max-width:991px) {
	.book-wrapper {
		.book-cover {
			float: none;
			display: inline-block;
			margin-bottom: 45px;
		}
	}
	.book-details {
		width: 470px;
		float: none;
		display: inline-block;
		vertical-align: top;
		h3 {
			font-size: 1.37em;
		}
	}
	.book-description {
		width: 412px;
		float: none;
	}
	.buy-book {
		top: 341px;
	}
	.book-review-item {
		position: relative;
		.book-review-text {
			span {
				position: absolute;
				top: 10px;
				right: 0;
			}
		}
	}
}
@media screen and (max-width:767px) {
	#book {
		margin-top: 52px;
		.category-section-row {
			h3 {
				font-size: 1.1em;
			}
		}
	}
	.book-details {
		width: 290px;
		h3 {
			font-size: 1.12em;
		}
	}
	.buy-book {
		width: 100%;
		display: block;
		position: relative;
		padding-left: 100px;
		padding-right: 100px;
		top: 0;
		margin-bottom: 20px;
	}
	.add-wishlist::before {
		left: 0;
		right:142px;
	}
	.book-description {
		width: 100%;
		display: block;
	}
	.book-review-item {
		position: relative;
		padding-left: 0;
		.book-review-text {
			width: 100%;
		}
	}
}
@media screen and (max-width:575px) {
	#book {
		margin-top: 107px;
		padding: 9px 0 30px 0;
	}
	.book-wrapper {
		.book-cover {
			width: 120px;
			height: 151px;
			margin-right: 5%;
		}
		.see-preview {
			left: 42px;
			top: 167px;
		}
	}
	.book-details {
		width: 54%;
	}
	.buy-book {
		padding-left: 5%;
		padding-right: 5%;
	}
}