#books {
	padding: 60px 0 90px 0;
	a {
		color: inherit;
		text-decoration: none;
		img:hover {
			box-shadow: 0 3px 5px #aaa;
		}
	}
	a:hover {
		color: $green;
		font-weight: bold;
	}
	.order-items-wrapper {
		box-shadow: none;
		max-width: 100%;
	}
	.order-items-row {
		position: relative;
	}
	.order-item-left {
		width: 400px;
	}
	.order-item-right {
		width: 710px;
	}
	.order-item {
		button {
			position: absolute;
			outline: none;
			border: none;
			background: #fff url('../img/close.png') no-repeat center;
			width: 20px;
			height: 20px;
			cursor: pointer;
			right: 0;
			top: 0;
		}
	}
	.order-item ul {
		display: table;
		height: 100%;
	}
	.order-item li {
		display: table-cell;
		vertical-align: middle;
	}
	.order-item ul li:first-child {
		width: 200px;
	}
	.order-item ul li:nth-child(2) {
		width: 200px;
		img {
			display: inline;
			margin-bottom: 4px;
			margin-right: 10px;
		}
	}
	.order-item ul li:nth-child(3) {
		width: 170px;
		a:hover {
			font-weight: normal;
		}
	}
	.order-item ul li:last-child {
		width: 140px;
	}
}

@media screen and (max-width:575px) {
	#books {
		padding: 9px 0 15px 0;
	}
}