#cart {
	padding: 60px 0 90px 0;
	h5 {
		text-transform: uppercase;
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 30px;
		margin-left: 164px;
	}
	.order-items-wrapper {
		margin-bottom: 40px;
	}
	.order-item {
		li:first-child {
			width: 125px;
		}
		li:nth-child(2) {
			width: 170px;
			position: relative;
			.quantity-wrapper {
				position: absolute;
				top: -24px;
			}
		}
		li:nth-child(3) {
			width: 105px;
		}
	}
	.order-item-row {
        a {
            color: inherit;
        }
        p {
            padding-right: 5px;
        }
    }
	.amount {
		display: inline-block;
		width: 38px;
		height: 38px;
		border-top: 1px solid #2c3e50;
		border-bottom: 1px solid #2c3e50;
		border-left: none;
		border-right: none;
		outline: none;
		background: none;
		float: left;
		font-size: .94em;
		line-height: 38px;
		text-align: center;
		color: #57595b;
	}
	button.minus {
		width: 38px;
		height: 38px;
		border: 1px solid #2c3e50;
		background: none;
		outline: none;
		cursor: pointer;
		font-size: 1.25em;
		color: #2c3e50;
		float: left;
	}
	button.plus {
		width: 38px;
		height: 38px;
		background: #2c3e50;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 1.25em;
		color: #fff;
		float: left;
	}
	button.delete {
		width: 95px;
		height: 30px;
		outline: none;
		border: none;
		background-color: #dbd9d9;
		border-radius: 15px;
		display: inline;
		color: #57595b;
		font-size: .87em;
		cursor: pointer;
		margin-top: 30px;
	}
	button.delete:hover {
		box-shadow: 0 3px 5px #aaa;
	}
	.order-total-wrapper {
		padding-right: 133px;
		border-top: 1px solid #e1e1dc;
		box-sizing: border-box;
		width: 100%;
		.order-total-text {
			width: 210px;
		}
	}
	button.update {
		width: 150px;
		height: 50px;
		border-radius: 25px;
		outline: none;
		border: none;
		background: $green;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		font-size: .87em;
		cursor: pointer;
		margin-left: 164px;
	}
	button.update:hover, button.clear:hover, button.proceed:hover {
		box-shadow: 0 3px 5px #aaa;
	}
	button.clear {
		width: 150px;
		height: 50px;
		border-radius: 25px;
		outline: none;
		border: 1px solid $green;
		background: none;
		text-transform: uppercase;
		color: $green;
		font-weight: bold;
		font-size: .87em;
		cursor: pointer;
		margin-left: 10px;
	}
	button.proceed {
		width: 225px;
		height: 50px;
		border-radius: 25px;
		outline: none;
		border: none;
		background: $yellow;
		text-transform: uppercase;
		color: #2a2e28;
		font-weight: bold;
		font-size: .87em;
		cursor: pointer;
		margin-left: 298px;
	}
}
@media screen and (max-width:1199px) {
	#cart {
		h5 {
			margin-left: 50px;
		}
		button.update {
			margin-left: 50px;
		}
	}
}
@media screen and (max-width:991px) {
	#cart {
		h5 {
			margin-left: 30px;
		}
		button.update {
			margin-left: 30px;
		}
		button.proceed {
			margin-left: 99px;
		}
		.order-item {
			li:first-child {
				width: 50px;
			}
			li:nth-child(2) {
				width: 130px;
			}
			li:nth-child(3) {
				width: 75px;
			}
		}
		.order-total-wrapper {
			padding-right: 109px;
			.order-total-text {
				width: 170px;
			}
		}
	}
}
@media screen and (max-width:767px) {
	#cart {
		button.update {
			margin-left: 30px;
			width: 225px;
		}
		button.clear {
			width: 225px;
		}
		button.proceed {
			margin-left: 30px;
			width: 462px;
			margin-top: 30px;
		}
		button.delete {
			margin-top: 0;
		}
		.order-items-wrapper {
			margin-bottom: 30px;
		}
		.order-item {
			li:first-child {
				width: 100px;
			}
			li:nth-child(2) {
				width: 155px;
			}
			li:nth-child(3) {
				width: 100px;
			}
		}
		.order-total-wrapper {
			padding-right: 0;
			width: 100%;
			background-color: #2c3e50;
			border-top: none;
			.order-total-text {
				width: 157px;
				padding-left: 0;
			}
			.order-total-number {
				width: 230px;
			}
		}
	}
}
@media screen and (max-width:575px) {
	#cart {
		padding: 9px 0 15px 0;
		h5 {
			margin-left: 15px;
		}
		button.update {
			margin-left: 0;
			width: 47%;
		}
		button.clear {
			width: 47%;
			margin-left: 4%;
		}
		button.proceed {
			margin-left: 0;
			width: 100%;
			margin-top: 15px;
		}
		button.delete {
			position: absolute;
			left: 0;
			right: 0;
			top: 43px;
			margin: auto;
		}
		.order-items-wrapper {
			margin-bottom: 15px;
		}
		.order-item {
			padding-bottom: 70px;
			.order-item-title, .order-item-row {
				width: 100%;
				ul {
					width: 100%;
					li:first-child {
						min-width: 75px;
						width: 27%;
					}
					li:nth-child(2) {
						min-width: 114px;
						width: 40%;
					}
					li:last-child {
						min-width: 76px;
						width: 28%;
						padding-left: 5px;
					}
				}
			}
		}
		.order-total-wrapper {
			padding-right: 0;
			width: 100%;
			background-color: #2c3e50;
			border-top: none;
			.order-total-text {
				width: 70%;;
				padding-left: 15px;
			}
			.order-total-number {
				width: 30%;
			}
		}
	}
}