#checkout {
    padding: 60px 0 110px 0;
    .invalid-feedback {
        margin-left: 100px;
    }
    .card-details {
        margin-left: 120px;
    }
    h5 {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
        margin-left: 164px;
    }
    .order-items-wrapper {
        margin-bottom: 40px;
    }
    .billing-wrapper {
    	padding-top: 20px;
    }
    .order-items-wrapper:last-child {
        margin-bottom: 0;
    }
    .form-button {
        margin: 0 auto;
    }
    fieldset.left {
        width: 50%;
        float: left;
        position: relative;
    }
    fieldset.right {
        width: 50%;
        float: right;
        position: relative;
        padding-left: 15px;
        label {
            left: 15px;
        }
    }
    .checkout-input {
        height: 42px;
        width: 300px;
        font-size: .94em;
        margin-left: 100px;
        margin-bottom: 0;
    }
    label {
        font-size: .94em;
        position: absolute;
        left: 0;
        display: block;
        padding-top: 22px;
        color: #57595b;
    }
    select.checkout-input {
        -webkit-appearance: none;
        background: url(../img/select-arrow.png) no-repeat transparent;
        background-position: 256px center;
    }
    textarea.checkout-input {
        height: 160px;
        resize: none;
        padding-top: 15px;
    }
    .checkout-checkbox {
        margin-left: 0;
        width: 25px;
        height: 25px;
    }
    .checkout-checkbox+label {
        cursor: pointer;
        margin-top: 12px;
        margin-bottom: 17px;
    }
    .checkout-checkbox:not(checked) {
        position: absolute;
        opacity: 0;
    }
    .checkout-checkbox:not(checked)+label {
        position: relative;
        padding: 0 0 0 0;
        height: 25px;
    }
    .checkout-checkbox:not(checked)+label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 170px;
        width: 25px;
        height: 25px;
        background: url('../img/checkbox-unchecked.png') left center no-repeat;
    }
    .checkout-checkbox:checked+label:before {
        background: url('../img/checkbox-checked.png') left center no-repeat;
    }
    .cards-wrapper {
    	margin-bottom: 10px;
    }
    .card-visa {
    	background: url('../img/card-visa.png') center no-repeat;
    	width: 41px;
    	height: 25px;
    	display: inline-block;
    	margin-right: 5px;
    }
    .card-mastercard {
    	background: url('../img/card-mastercard.png') center no-repeat;
    	width: 41px;
    	height: 25px;
    	display: inline-block;
    	margin-right: 5px;
    }
    .card-discover {
    	background: url('../img/card-discover.png') center no-repeat;
    	width: 34px;
    	height: 25px;
    	display: inline-block;
    	margin-right: 5px;
    }
    .card-amex {
    	background: url('../img/card-amex.png') center no-repeat;
    	width: 33px;
    	height: 25px;
    	display: inline-block;
    }
    input.card {
    	width: 280px;
    	margin-left: 120px;
    }
}
@media screen and (max-width:1199px) {
	#checkout {
		h5 {
			margin-left: 50px;
		}
	}
}
@media screen and (max-width:991px) {
	#checkout {
        .invalid-feedback {
            margin-left: 90px;
        }
        .card-details {
            margin-left: 120px;
        }
		h5 {
			margin-left: 30px;
		}
		.checkout-input {
			width: 216px;
			margin-left: 90px;
		}
		select.checkout-input {
	        background-position: 180px center;
	    }
	    input.card {
	    	width: 185px;
	    }
	}
}
@media screen and (max-width:767px) {
	#checkout {
		.billing-wrapper {
			box-shadow: 0 0 40px #e9e9e9;
			padding: 20px 30px 30px 30px;
		}
		fieldset.left {
			width: 100%;
		}
		fieldset.right {
			width: 100%;
			padding-left: 0;
			label {
	            left: 0;
	        }
		}
		.checkout-input {
			width: 372px;
		}
		select.checkout-input {
	        background-position: 325px center;
	    }
	    input.card {
	    	width: 342px;
	    }
	}
}
@media screen and (max-width:575px) {
	#checkout {
		padding: 9px 0 45px 0;
        .invalid-feedback {
            margin-left: 0;
        }
        .card-details {
            margin-left: 0;
        }
		.billing-wrapper {
			padding: 10px 15px 15px 15px;
			font-size: .87em;
		}
		fieldset.left {
			width: 100%;
			label {
				position: relative;
				padding-top: 15px;
			}
		}
		fieldset.right {
			width: 100%;
			padding-left: 0;
			label {
	            left: 0;
	            position: relative;
	            padding-top: 15px;
	        }
		}
		.checkout-input {
			width: 100%;
			margin-left: 0;
			margin-top: 0;
		}
		select.checkout-input {
	        background-position: right center;
	    }
	    input.card {
	    	width: 100%;
	    	margin-left: 0;
	    }
	    .checkout-checkbox+label {
	        cursor: pointer;
	        margin-top: 6px;
	        margin-bottom: 10px;
	    }
	    .checkout-checkbox:not(checked)+label:before {
	        top: 12px;
	    }
	    .cards-wrapper {
	    	margin-top: 10px;
	    }
	}
}