#details {
	margin-top: 84px;
	padding: 60px 0 90px 0;
	h5 {
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 15px;
		margin-left: 165px;
	}
}
.order-status {
	width: 840px;
	margin: 0 auto 30px auto;
	.order-status-stage {
		width: 204px;
		height: 66px;
		background-color: #ededed;
		float: left;
		color: #959191;
		font-weight: bold;
		font-size: .94em;
		text-transform: uppercase;
		position: relative;
		padding-left: 10px;
		margin-top: 5px;
		div {
			display: inline-block;
			margin-left: 30px;
			margin-top: 14px;
			width: 38px;
			height: 38px;
			border-radius: 19px;
			background-color: #fdd05f;
			text-align: center;
			padding-top: 3px;
			padding-left: 1px;
			font-size: 1.37em;
		}
		p {
			display: inline-block;
			padding-left: 15px;
		}
	}
	.order-status-stage:first-child {
		z-index: 4;
		padding-left: 0;
	}
	.order-status-stage:nth-child(2) {
		z-index: 3;
	}
	.order-status-stage:nth-child(3) {
		z-index: 2;
	}
	.order-status-stage::after {
		content: url('../img/order-status.png');
		position: absolute;
		right: -24px;
	}
	.last-stage::after {
		content: url('../img/order-status-four.png');
		position: absolute;
		right: -24px;
	}
	.order-status-active {
		background-color: #fdd05f;
		height: 76px;
		margin-top: 0;
		color: #9e7715;
		position: relative;
		z-index: 5 !important;
		padding-left: 0;
		div {
			background-color: #fff;
			margin-top: 18px;
		}
	}
	.order-status-active::after {
		content: url('../img/order-status-active.png');
		position: absolute;
		right: -24px;
	}
}
.order-items-wrapper {
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
	padding: 30px;
	box-shadow: 0 0 40px #e9e9e9;
	box-sizing: border-box;
	.order-item {
		margin-left: 0;
	}
	.order-tax {
		border-top: 1px solid #e1e1dc;
		border-bottom: 1px solid #e1e1dc;
		color: #57595b;
		font-size: .94em;
		line-height: 2.5em;
		padding-top: 15px;
		.order-tax-text {
			width: 212px;
			float: right;
		}
		.order-tax-numbers {
			width: 85px;
			float: right;
		}
		ul {
			list-style-type: none;
			padding: 0;
			li {

			}
		}
	}
	.order-total-number {
		width: 85px;
		height: 50px;
		background-color: #2c3e50;
		color: #fff;
		font-weight: bold;
		padding-top: 12px;
		float: right;
	}
	.order-total-text {
		width: 248px;
		height: 50px;
		background-color: #2c3e50;
		color: #fff;
		font-weight: bold;
		padding-top: 12px;
		padding-left: 38px;
		float: right;
	}
}
@media screen and (max-width:1199px) {
	#details {
		h5 {
			margin-left: 50px;
		}
	}
}
@media screen and (max-width:991px) {
	#details {
		h5 {
			margin-left: 30px;
		}
	}
	.order-status {
		width: 702px;
		.order-status-stage {
			width: 169px;
			padding-left: 5px;
			font-size: .81em;
			div {
				margin-left: 30px;
				padding-top: 5px;
			}
			p {
				padding-left: 5px;
			}
		}
	}
	.order-items-wrapper {
		.order-item-left {
			width: 275px;
		}
		.order-item-right {
			width: 366px;
		}
		.order-item {
			li:first-child {
				width: 75px;
			}
			li:nth-child(2) {
				width: 100px;
			}
			li:nth-child(3) {
				width: 110px;
			}
		}
		.order-tax {
			.order-tax-numbers {
				width: 71px;
			}
			.order-tax-text, .order-total-text {
				width: 218px;
			}
		}
		.order-total-number {
			width: 71px;
		}
		.order-total-text {
			width: 254px;
		}
	}
}
@media screen and (max-width:767px) {
	#details {
		margin-top: 52px;
	}
	.order-status {
		width: 100%;
		.order-status-stage {
			width: 25%;
			height: 35px;
			text-align: center;

			div {
				display: none;
			}
			p {
				padding-left: 0;
				line-height: 35px;
			}
		}
		.order-status-stage::after {
			content: url('../img/mobile/order-status.png');
			right: -10px;
		}
		.last-stage::after {
			content: url('../img/mobile/order-status-four.png');
			right: -10px;
		}
		.order-status-active {
			height: 45px;
			p {
				line-height: 45px;
			}
		}
		.order-status-active::after {
			content: url('../img/mobile/order-status-active.png');
			right: -10px;
		}
	}
	.order-items-wrapper {
		box-shadow: none;
		padding: 0;
		.order-item-left, .order-item-right{
			width: 100%;
		}
		.order-item {
			li:first-child {
				width: 105px;
			}
			li:nth-child(2) {
				width: 130px;
			}
			li:nth-child(3) {
				width: 150px;
			}
		}
		.order-tax {
			border: none;
			box-shadow: 0 0 40px #e9e9e9;
			.order-tax-numbers {
				width: 97px;
			}
		}
		.order-total-text {
			width: 425px;
			padding-left: 209px;
		}
		.order-total-number {
			width: 97px;
		}
	}
}
@media screen and (max-width:575px) {
	#details {
		margin-top: 107px;
		padding: 9px 0 15px 0;
		h5 {
			margin-left: 15px;
		}
	}
	.order-status {
		.order-status-stage {
			font-size: .62em;
		}
	}
	.order-items-wrapper {
		.order-item {
			li:first-child {
				width: 55px;
			}
			li:nth-child(2) {
				width: 80px;
			}
			li:nth-child(3) {
				width: 80px;
			}
		}
		.order-tax {
			border: none;
			box-shadow: 0 0 40px #e9e9e9;
			font-size: .81em;
			.order-tax-numbers {
				width: 63px;
			}
			.order-tax-text {
				width: 180px;
			}
		}
		.order-total-wrapper {
			background-color: #2c3e50;
			.order-total-text {
				width: 180px;
				padding-left: 0;
			}
			.order-total-number {
				width: 63px;
			}
		}
	}
}