#info {
	padding: 60px 0 110px 0;
	.invalid-feedback {
		position: absolute;
		margin-top: -25px;
		margin-left: 100px;
	}
}
.member-form-wrapper {
	padding-left: 30px;
	padding-top: 35px;
	label {
		position: absolute;
		padding-top: 14px;
		font-size: .94em;
	}
}
.info-input {
	width: 435px;
	display: block;
	position: relative;
	margin: 25px 0 25px 100px;
}
.info-button {
	margin-top: 45px;
	margin-left: 100px;
}
@media screen and (max-width:767px) {
	.info-input {
		width: 391px;
	}
}
@media screen and (max-width:575px) {
	#info {
		padding: 9px 0 40px 0;
		.invalid-feedback {
			margin-left: 0;
		}
	}
	.member-form-wrapper {
		padding-left: 0;
		padding-top: 10px;
		label {
			position: relative;
			padding-top: 0;
			padding-left: 26px;
		}
	}
	.info-input {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
	.info-button {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
	}
}