#login {
	padding: 60px 0 90px 0;
}
.login-wrapper {
	max-width: 660px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #d2d2d2;
	box-shadow: 0 0 40px #e9e9e9;
	padding: 55px 55px 60px 55px;
	color: #57595b;
	font-size: .94em;
	position: relative;
	a {
		color: $green;
	}
	h3 {
		font-size: 1.25em;
		margin-bottom: 10px;
	}
	p {
		color: $green;
		margin: 15px 0 25px 0;
	}
	::placeholder {
		color: #888c89;
	}
	.divider {
		margin-bottom: 36px;
	}
	.form-button {
		margin-top: 25px;
	}
}
.form-input-full {
	width: 100%;
	outline: none;
	border: 1px solid #d2d2d2;
	height: 50px;
	border-radius: 25px;
	padding: 0 25px;
	margin: 12px 0;
}
.form-input-full:focus {
	border: 1px solid $green;
}
.form-button {
	height: 50px;
	width: 205px;
	border-radius: 25px;
	display: block;
	outline: none;
	border: none;
	background-color: $yellow;
	color: #2a2e28;
	font-weight: bold;
	font-size: .87em;
}
.form-button:hover {
	box-shadow: 0 3px 5px #aaa;
	cursor: pointer;
}
.form-checkbox:not(#foo) {
	opacity: 0;
    width: 25px;
    height: 25px;
}
.form-checkbox:not(#foo) + label {
	position: absolute;
	left: 55px;
    padding: 3px 7px 3px 39px;
	cursor: pointer;
	background: url(../img/checkbox-unchecked.png) left center no-repeat;
}
.form-checkbox:not(#foo):checked + label {
	background: url(../img/checkbox-checked.png) left center no-repeat;
}
.divider {
	width: 100%;
	height: 1px;
	background-color: #d2d2d2;
}

@media screen and (max-width:575px) {
	#login {
		padding: 9px 0;
	}
	.login-wrapper {
		padding: 30px 15px;
	}
	.form-checkbox:not(#foo) + label {
		left: 15px;
	}
}