#password {
	padding: 60px 0 110px 0;
	.member-form-wrapper {
		padding-top: 0;
		h5 {
			text-transform: uppercase;
			font-size: 1em;
			font-weight: bold;
			margin-bottom: 30px;
		}

	}
	.invalid-feedback {
		position: absolute;
		margin-top: -25px;
		margin-left: 125px;
	}
}
.label-two-lines {
	line-height: 1;
	padding-top: 9px;
	width: 110px;
}
.password-input {
	margin-left: 125px;
}
@media screen and (max-width:767px) {
	input.password-input {
		width: 366px;
	}
}
@media screen and (max-width:575px) {
	#password {
		padding: 9px 0 45px 0;
		.invalid-feedback {
			margin-left: 0;
		}
	}
	.password-input {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
	input.password-input {
		width: 100%;
	}
	.label-two-lines {
		width: 100%;
	}
}