#register {
	padding: 60px 0 90px 0;
	.form-validation-wrapper {
		position: relative;
		margin-bottom: 20px;
		input {
			width: 363px;
		}
		img {
			position: absolute;
			top: 13px;
			right: 0;
		}
	}
}
@media screen and (max-width:767px) {
	#register {
		.form-validation-wrapper {
			input {
				width: 226px;
			}
		}
	}
}
@media screen and (max-width:575px) {
	#register {
		padding: 9px 0;
		.form-validation-wrapper {
			input {
				width: 100%;
			}
			img {
				position: relative;
				margin-bottom: 20px;
			}
		}
	}
}