html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: var(--black);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  width: 100vw;
  overflow: hidden;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --white: #fff;
  --black: #212121;
  --gray-light: #bdbdbd;
  --gray: #757575;
  --primary-light: #c8e6c9;
  --primary: #4caf50;
  --primary-dark: #388e3c;
  --accent: #8bc34a;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 12px;
}

#capitalInteger {
  font-size: 50px;
  font-weight: 300;
}

header {
  background-color: var(--primary-dark);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;
}

.imageWrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper img {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.cardDescription {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 14px;
}

.cardDescription p,
h2 {
  opacity: 0.75;
}

.goalContainer {
  height: 33.33%;
  background-color: var(--primary);
  padding: 50px 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  position: relative;
}

.progressContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: var(--white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
#progressBar {
  background-color: var(--accent);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 0;
  transition: width ease-in-out 500ms;
}

.edit {
  position: absolute;
  right: 5px;
  top: 5px;
}
.edit img {
  width: 16px;
}

.detailsContainer {
  height: 66.67%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px 0;
  overflow: hidden;
  width: 100vw;
}

.detailContainer {
  background-color: var(--primary-light);
  width: calc(100vw - 40px);
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 20px 16px;
  border-radius: 4px;
}

.detailInteger {
  font-size: 32px;
}

.monthlyCashflowContainer {
  width: 100vw;
  position: relative;
}

.monthlyCashflowInnerContainer {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  transition: left ease-in-out 200ms;
}

.monthlyCashflowItem {
  background-color: var(--primary-light);
  width: calc(100vw - 40px);
  margin: 0 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 20px 16px;
  border-radius: 4px;
}

.monthlyCashflowItem:first-of-type {
  margin: 0 5px 0 0;
}

.monthlyCashflowItem:last-of-type {
  margin: 0 0 0 5px;
}

.popup {
  height: calc(100vh - 50px);
  background-color: var(--white);
  width: 100vw;
  position: fixed;
  top: 50px;
  left: 100vw;
  transition: left ease-in-out 200ms;
  z-index: 10;
}

.popupInner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.popupInner form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.popupInner form input {
  border: 1px solid var(--gray-light);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 25px;
  outline: none;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.popupInner form button {
  background-color: var(--primary-dark);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 10px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: uppercase;
  font-size: 14px;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
}

#popupCurrentGoal {
  font-size: 20px;
}
