:root {
    --white: #fff;
    --gray-light: #eee;
    --gray: #9e9e9e;
    --black: #212121;
    --color-dark: #1b5e20;
    --color-light: #4caf50;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 300;
    color: var(--white);
}

div, input, select  {
    box-sizing: border-box;
}

p,
h1,
h2 {
    margin: 0;
    line-height: 1;
}

h1,
h2 {
    font-size: 16px;
    font-weight: 300;
}

body {
    position: relative;
}

.header {
    background-color: var(--color-dark);
    height: 48px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.menuImage {
    width: 22px;
    height: auto;
}
.appContainer {
    height: calc(100vh - 48px);
    padding: 32px 0;
    background-color: var(--white);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3fr 1fr 1fr;
        grid-template-rows: 3fr 1fr 1fr;
    grid-row-gap: 8px;
    width: 100vw;
    overflow: hidden;
}
.goalContainer {
    width: calc(100vw - 32px);
    margin: 0 16px;
    background-color: var(--gray);
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}
.cachflowContainer {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8px;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    left: calc(-300vw + 72px);
    width: fit-content;
}
.cachflowItem {
    width: calc(100vw - 32px);
    background-color: var(--gray);
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}