body {
	font-family: Lato;
	font-size: 16px;
	overflow-x: hidden
}
p, hr, h1 {
	margin: 0;
	padding:  0;
}
.wrapper {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
}
body>.wrapper {
	height: 1594px;
}
.logo {
	position: absolute;
	left: 0;
	top: 42px;
	width: 210px;
	height: auto;
}
.singin {
	width: 340px;
	height: 438px;
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	top: 147px;
	left: 0;
	z-index: 1;
	box-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.08), 0 10px 43px 0 rgba(0, 0, 0, 0.08);
	padding: 35px 60px 50px 60px;
}
.singin-title {
	font-size: 1.875em;
}
.main-banner {
	width: 1172px;
	height: 954px;
	background: linear-gradient(307deg, #241750, #612b65);
	position: relative;
	left: 360px;
}
.main-banner h1 {
	width: 529px;
	color: #fff;
	font-size: 2.625em;
	line-height: 1.25;
	font-weight: normal;
	padding-left: 237px;
	padding-top: 136px;
	letter-spacing: 0.25px;
}
.main-banner h2 {
	width: 347px;
	color: #fff;
	font-size: 1.5em;
	opacity: 0.5;
	font-weight: normal;
	padding-left: 237px;
	line-height: 1.58;
	letter-spacing: 0.1px;
}
.fire {
	position: absolute;
	left: 0;
	bottom: 0;
}
.roulette {
	position: absolute;
	bottom: 128px;
	left: -41px;
}
.chip {
	position: absolute;
	top: 339px;
	left: 72px;
	z-index: 3;
}
.video {
	width: 761px;
	height: 491px;
	border-radius: 3px;
	background: linear-gradient(140deg, #612b65, #241750);
	position: relative;
	top: -65px;
	left: 0;
	text-align: center;
	color: #fff;
}
.video p {
	position: relative;
	font-size: 1.5em;
	top: 40px;
}
.video img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.video span {
	text-transform: uppercase;
	font-size: 0.625em;
	letter-spacing: 0.5px;
	position: relative;
	top: 265px;
}
.features {
	position: absolute;
	width: 360px;
	height: 368px;
	right: 0;
	top: 985px;
	background-color: rgba(51, 51, 51, 0.1);
}
.features p {
	position: absolute;
	bottom: 25px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.875em;
	line-height: 1.43;
}
.feature-1 {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	padding-left: 25px;
	padding-top: 62px;
	position: relative;
	border-right: 1px solid rgba(51, 51, 51, 0.1);
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
	background-color: #fff;
}
.feature-2 {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	padding-left: 25px;
	padding-top: 62px;
	position: relative;
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
	background-color: #fff;
}
.feature-3 {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	padding-left: 25px;
	padding-top: 62px;
	position: relative;
	border-right: 1px solid rgba(51, 51, 51, 0.1);
	background-color: #fff;
}
.feature-4 {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	padding-left: 25px;
	padding-top: 62px;
	position: relative;
	background-color: #fff;
}
.submit {
	padding-left: 105px;
	margin-top: 7px;
}
.submit span {
	font-size: 1.5em;
	font-weight: bold;
}
footer {
	height: 243px;
	background: linear-gradient(349deg, #612b65, #24194a);
}
footer img {
	display: inline-block;
	vertical-align: middle;
	padding: 44px 36px 29px 36px;
}
footer img:first-child {
	padding-left: 75px;
}
hr {
	color: #fff;
	opacity: 0.2;
	margin-bottom: 25px;
}
footer p {
	font-size: 0.75em;
	line-height: 1.4;
	letter-spacing: 0.2px;
	color: rgba(255, 255, 255, 0.4);
}