body {
	font-family: Lato;
	font-size: 16px;
	overflow-x: hidden
}
p, hr, h1 {
	margin: 0;
	padding:  0;
}
.wrapper {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
}
body>.wrapper {
	height: 1594px;
}
.logo {
	position: absolute;
	left: 0;
	top: 42px;
	width: 210px;
	height: auto;
}
.signin {
	width: 340px;
	height: 438px;
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	top: 147px;
	left: 0;
	z-index: 1;
	box-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.08), 0 10px 43px 0 rgba(0, 0, 0, 0.08);
	padding: 35px 60px 50px 60px;
	text-align: center;
}
.signin-title {
	font-size: 1.875em;
	text-align: left;
}
.signin input[type="text"] {
	width: 100%;
	border: none;
	border-bottom: 1px solid #d8d8d8;
	outline: none;
	font-size: 1.063em;
	color: #333;
	padding: 5px 0;
	margin-top: 48px;
}
.signin input[type="password"] {
	width: 100%;
	border: none;
	border-bottom: 1px solid #d8d8d8;
	outline: none;
	font-size: 1.063em;
	color: #333;
	padding: 5px 0;
	margin-top: 33px;
}
.signin input[type="submit"] {
	width: 100%;
	height: 58px;
	border: none;
	border-radius: 3px;
	outline: none;
	color: #fff;
	background-color: #ff5111;
	font-size: 1.125em;
	margin-bottom: 20px;
}
.checkbox:not(#foo) {
	opacity: 0;
    width: 18px;
    height: 18px;
    margin-bottom: 67px;
}
.checkbox:not(#foo) + label {
	position: relative;
	top: 27px;
	left: -73px;
    padding: 3px 19px 3px 34px;
	cursor: pointer;
	color: #888;
	font-size: 0.875em;
	background: url('../img/checkbox.png') left center no-repeat;
}
.checkbox:not(#foo):checked + label {
	background: url('../img/checkbox-checked.png') left center no-repeat;
}
.forgot-pass {
	font-size: 0.875em;
	color: #888;
	text-decoration: none;
	position: absolute;
	right: 95px;
	top: 187px;
}
.signin-text {
	color: #888;
	font-size: 0.813em;
	margin-bottom: 30px;
	line-height: 1.23;
}
.signin-donthave {
	color: #888;
	font-size: 0.813em;
	margin-bottom: 5px;
}
.create-account {
	color: #4a90e2;
	text-decoration: none;
	font-size: 1.125em;
}
.main-banner {
	width: 1172px;
	height: 954px;
	background: linear-gradient(307deg, #241750, #612b65);
	position: relative;
	left: 360px;
}
.main-banner h1 {
	width: 529px;
	color: #fff;
	font-size: 2.625em;
	line-height: 1.25;
	font-weight: normal;
	padding-left: 237px;
	padding-top: 136px;
	letter-spacing: 0.25px;
}
.main-banner h2 {
	width: 347px;
	color: #fff;
	font-size: 1.5em;
	opacity: 0.5;
	font-weight: normal;
	padding-left: 237px;
	line-height: 1.58;
	letter-spacing: 0.1px;
}
.fire {
	position: absolute;
	left: 0;
	bottom: 0;
}
.roulette {
	position: absolute;
	bottom: 128px;
	left: -41px;
}
.chip {
	position: absolute;
	top: 339px;
	left: 72px;
	z-index: 3;
}
.video {
	width: 761px;
	height: 491px;
	border-radius: 3px;
	background: linear-gradient(140deg, #612b65, #241750);
	position: relative;
	top: -65px;
	left: 0;
	text-align: center;
	color: #fff;
}
.video p {
	position: relative;
	font-size: 1.5em;
	top: 40px;
}
#play-video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#watch-text {
	text-transform: uppercase;
	font-size: 0.625em;
	letter-spacing: 0.5px;
	position: relative;
	top: 265px;
}
#watch-text:hover, #play-video:hover {
	cursor: pointer;
}
#promo-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -16px;
	left: 0;
	display: none;
}
.features {
	position: absolute;
	width: 360px;
	height: 368px;
	right: 0;
	top: 985px;
	background-color: rgba(51, 51, 51, 0.1);
}
.features img {
	z-index: 2;
	position: relative;
}
.features p {
	position: absolute;
	bottom: 25px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.875em;
	line-height: 1.43;
	z-index: 2;
}
.features-item {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	position: relative;
	background-color: #fff;
	padding-left: 25px;
	padding-top: 62px;
}
#feature-1 {
	border-right: 1px solid rgba(51, 51, 51, 0.1);
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
#feature-2 {
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
#feature-3 {
	border-right: 1px solid rgba(51, 51, 51, 0.1);
}
.feature-hover {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -9px;
	left: 9px;
	background: linear-gradient(127deg, #612b65, #241750);
	z-index: 1;
}
.features-item:hover .feature-hover {
	display: block;
}
.features-item:hover {
	color: #fff;
	background-color: rgba(200, 200, 200, 0.1);
	padding-left: 34px;
	padding-top: 53px;
}
.features-item:hover p {
	bottom: 34px;
}
.submit {
	padding-left: 105px;
	margin-top: 7px;
}
.submit span {
	font-size: 1.5em;
	font-weight: bold;
}
.submit form {
	display: inline-block;
	margin-left: 36px;
}
.submit input[type='email'] {
	outline: none;
	width: 595px;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
	padding-left: 27px;
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	color: #888;
	font-size: 1.063em;
}
.submit input[type='submit'] {
	width: 134px;
	height: 50px;
	border-radius: 3px;
	background-color: #ff5111;
	border: none;
	outline: none;
	color: #fff;
	font-size: 1.125em;
	margin-left: -18px;
	position: relative;
	top: 1px;
}
.submit input[type='submit']:hover {
	cursor: pointer;
}
footer {
	height: 243px;
	background: linear-gradient(349deg, #612b65, #24194a);
}
.img-wrapper {
	width: 1083px;
	margin: 0 auto;
}
footer img {
	display: inline-block;
	vertical-align: middle;
	padding: 44px 36px 29px 36px;
}
hr {
	color: #fff;
	opacity: 0.2;
	margin-bottom: 25px;
}
footer p {
	font-size: 0.75em;
	line-height: 1.4;
	letter-spacing: 0.2px;
	color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width:1199px) {
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		width: 952px;
	}
	body>.wrapper {
		height: auto;
	}
	.logo {
		left: 20px;
	}
	.signin {
		left: 20px;
		width: 320px;
	}
	.checkbox:not(#foo) + label {
		left: -62px;
	}
	.main-banner {
		width: 815px;
	}
	.main-banner h1 {
		padding-left: 195px;
		font-size: 2.1em;
		width: 445px;
	}
	.main-banner h2 {
		padding-left: 195px;
	}
	.chip {
		left: 52px;
	}
	.submit {
		padding-left: 95px;
		margin-bottom: 90px;
		margin-top: 75px;
	}
	.submit span {
		font-size: 1.25em;
	}
	.submit input[type='email'] {
		width: 436px;
		font-size: 1em;
	}
	.video {
		margin: 0 auto;
	}
	.features {
		position: relative;
		top: 5px;
		margin: auto;
		width: 761px;
		height: 184px;
	}
	.features-item {
		width: 25%;
		height: 100%;
	}
	#feature-1 {
		border-bottom: none;
	}
	#feature-2 {
		border-bottom: none;
		border-right: 1px solid rgba(51, 51, 51, 0.1);
	}
	.img-wrapper {
		width: 859px;
	}
	footer img {
		padding-left: 20px;
		padding-right: 20px;
	}
}