@font-face { font-family: 'Karla-Bold'; src: url("../fonts/karla-bold/Karla-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/karla-bold/Karla-Bold.woff") format("woff"), url("../fonts/karla-bold/Karla-Bold.ttf") format("truetype"), url("../fonts/karla-bold/Karla-Bold.svg#Karla-Bold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Karla-Regular'; src: url("../fonts/karla-regular/Karla-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/karla-regular/Karla-Regular.woff") format("woff"), url("../fonts/karla-regular/Karla-Regular.ttf") format("truetype"), url("../fonts/karla-regular/Karla-Regular.svg#Karla-Regular") format("svg"); font-weight: normal; font-style: normal; }
body { font-family: Karla-Regular; font-size: 16px; }

header { height: 84px; width: 100%; background-color: #fff; position: fixed; top: 0; z-index: 100; border-bottom: 1px solid #cccdc0; -webkit-box-sizing: border-box; box-sizing: border-box; }
header .header-mobile { display: none; }
header .header-mobile .header-menu-burger:hover { cursor: pointer; }
header .header-mobile #scroll-logo { display: none; }
header .header-mobile ul { list-style-type: none; padding: 0; display: inline-block; margin-top: 30px; margin-left: 58px; float: left; }
header .header-mobile ul li { display: inline-block; padding-right: 45px; text-transform: uppercase; color: #57595b; font-family: Karla-Bold; font-size: 0.94em; }
header .header-mobile ul li:last-child { padding-right: 0; }
header .header-mobile ul a { color: inherit; }
header .header-mobile ul a:hover { color: inherit; text-decoration: none; }
header .header-desktop { background-color: #fff; width: 100%; height: inherit; max-width: 1370px; margin: 0 auto; border-bottom: inherit; }
header .header-desktop .header-logo { margin: 23px 0 0 21px; float: left; }
header .header-desktop .header-menu-burger { display: none; }
header .header-desktop .header-menu-burger:hover { cursor: pointer; }
header .header-desktop ul { list-style-type: none; padding: 0; display: inline-block; margin-top: 30px; margin-left: 58px; float: left; }
header .header-desktop ul li { display: inline-block; padding-right: 45px; text-transform: uppercase; color: #57595b; font-family: Karla-Bold; font-size: 0.94em; }
header .header-desktop ul li:last-child { padding-right: 0; }
header .header-desktop ul a { color: inherit; }
header .header-desktop ul a:hover { color: inherit; text-decoration: none; }
header .header-desktop .header-search { display: inline-block; width: 408px; height: 44px; border-radius: 22px; border: 1px solid #d2d2d2; margin-top: 19px; margin-left: 48px; float: left; padding: 8px 10px 5px 19px; }
header .header-desktop .header-search form input { border: none; outline: none; padding-left: 26px; background: #fff url("../img/search-icon.png") no-repeat; background-position: 0 2px; width: 310px; color: #888c89; font-size: .87em; border-right: 1px solid #d2d2d2; }
header .header-desktop .header-search form button { border: none; outline: none; font-size: .87em; color: #6b716d; background-color: #fff; width: 60px; padding-left: 11px; }
header .header-desktop .header-search form button:hover { cursor: pointer; }
header .header-desktop .header-search form option { font-size: .87em; color: #6b716d; }
header .header-desktop .cart-account .header-cart { margin-top: 18px; margin-left: 23px; float: left; }
header .header-desktop .cart-account .header-cart-items { width: 20px; height: 20px; border-radius: 10px; border: 1px solid #3dcc9b; display: inline-block; margin-top: 15px; margin-left: -15px; color: #3dcc9b; font-family: Karla-Bold; font-size: 0.81em; text-align: center; float: left; background: #fff; }
header .header-desktop .cart-account .header-cart-items p { margin-top: -1px; }
header .header-desktop .cart-account .header-divider { margin-top: 20px; margin-left: 15px; float: left; }
header .header-desktop .cart-account .header-account { margin: 25px 13px 0 18px; float: left; }
header .header-desktop .cart-account .account-text { color: #57595b; text-transform: uppercase; font-family: Karla-Bold; font-size: 0.81em; padding-top: 22px; line-height: 1.4; display: inline-block; float: left; }

@media screen and (max-width: 1385px) { header .header-desktop { width: 1170px; }
  header .header-desktop .header-logo { margin-left: 0; }
  header .header-desktop ul { margin-left: 30px; }
  header .header-desktop ul li { padding-right: 25px; font-size: .87em; }
  header .header-desktop .header-search { margin-left: 30px; width: 352px; }
  header .header-desktop .header-search form input { width: 254px; } }
@media screen and (max-width: 1199px) { header .header-desktop { width: 941px; }
  header .header-desktop ul { margin-left: 30px; }
  header .header-desktop ul li { padding-right: 25px; font-size: .87em; }
  header .header-desktop .header-search { margin-left: 30px; width: 262px; }
  header .header-desktop .header-search form input { width: 165px; }
  header .header-desktop .cart-account { float: right; margin-right: 0; }
  header .header-desktop .cart-account .account-text { display: none; }
  header .header-desktop .cart-account .header-account { margin-right: 0; } }
@media screen and (max-width: 991px) { header .header-desktop { width: 701px; position: relative; }
  header .header-desktop .header-menu-burger { display: block; float: left; margin-top: 17px; margin-left: 10px; }
  header .header-desktop ul { margin-left: 20px; display: none; }
  header .header-desktop ul li { padding-right: 15px; font-size: .87em; }
  header .header-desktop .header-search { margin-left: 7px; width: 267px; }
  header .header-desktop .header-search form input { width: 170px; }
  header .header-desktop .drop-down-menu { display: block; position: absolute; margin: auto; text-align: center; left: 198px; top: 63px; width: 300px; background-color: rgba(255, 255, 255, 0.9); -webkit-box-shadow: 0 0 30px #57595b; box-shadow: 0 0 30px #57595b; }
  header .header-desktop .drop-down-menu li { display: block; color: #57595b; padding: 15px 0; }
  header .header-desktop .drop-down-menu li:hover { background-color: rgba(87, 89, 91, 0.9); color: #fff; } }
@media screen and (max-width: 767px) { header { height: 52px; }
  header .header-desktop { display: none; }
  header .header-mobile { width: 522px; display: block; margin: auto; position: relative; }
  header .header-mobile .header-logo { margin: 7px 40px auto 18px; float: left; }
  header .header-mobile img { margin: 0 5px; display: inline; }
  header .header-mobile .header-menu-button { display: inline; }
  header .header-mobile a:last-child .header-menu-button { margin-right: 0; }
  header .header-mobile ul { margin-left: 20px; display: none; }
  header .header-mobile ul li { padding-right: 15px; font-size: .87em; }
  header .header-mobile .header-search { margin-left: 7px; width: 267px; }
  header .header-mobile .header-search form input { width: 170px; }
  header .header-mobile #search-mobile:hover { cursor: pointer; }
  header .header-mobile .search-mobile-wrapper { position: absolute; width: 100%; top: 70px; padding: 0 20px; display: none; }
  header .header-mobile .search-mobile-wrapper .header-search { display: block; max-width: 408px; width: 100%; height: 44px; border-radius: 22px; border: 1px solid #d2d2d2; margin: auto; padding: 8px 10px 5px 19px; background-color: #fff; -webkit-box-shadow: 0 0 30px #999; box-shadow: 0 0 30px #999; }
  header .header-mobile .search-mobile-wrapper .header-search form input { border: none; outline: none; padding-left: 26px; background: #fff url("../img/search-icon.png") no-repeat; background-position: 0 2px; width: 310px; color: #888c89; font-size: .87em; border-right: 1px solid #d2d2d2; }
  header .header-mobile .search-mobile-wrapper .header-search form button { border: none; outline: none; font-size: .87em; color: #6b716d; background-color: #fff; width: 60px; padding-left: 11px; }
  header .header-mobile .search-mobile-wrapper .header-search form button:hover { cursor: pointer; }
  header .header-mobile .search-mobile-wrapper .header-search form option { font-size: .87em; color: #6b716d; }
  header .header-mobile .drop-down-menu { display: block; position: absolute; margin: auto; text-align: center; left: 62px; top: 52px; width: 400px; background-color: rgba(255, 255, 255, 0.9); -webkit-box-shadow: 0 0 30px #57595b; box-shadow: 0 0 30px #57595b; }
  header .header-mobile .drop-down-menu li { display: block; color: #57595b; padding: 15px 0; }
  header .header-mobile .drop-down-menu li:hover { background-color: rgba(87, 89, 91, 0.9); color: #fff; } }
@media screen and (max-width: 575px) { header { height: auto; }
  header .header-desktop { display: block; width: 175px; height: 53px; margin: auto; border: none; }
  header .header-desktop ul, header .header-desktop .header-search, header .header-desktop .cart-account, header .header-desktop .header-menu-burger { display: none; }
  header .header-desktop .header-logo { margin: 8px auto 0 auto; display: inline; }
  header .header-mobile { border-top: 1px solid #cccdc0; height: 53px; text-align: center; width: 100%; vertical-align: middle; position: relative; }
  header .header-mobile .header-logo { display: none; }
  header .header-mobile img { margin: 0 6px; }
  header .header-mobile .drop-down-menu { left: 0; width: 100%; }
  header .header-mobile .search-mobile-wrapper .header-search { max-width: 320px; }
  header .header-mobile .search-mobile-wrapper .header-search form input { width: 185px; } }
@media screen and (max-width: 380px) { header .header-mobile img { margin: 0 2px; } }
#main-banner-section { height: 494px; line-height: 494px; background: #e5e6d2 url("../img/main-banner.jpg") no-repeat; background-size: cover; background-position: center center; position: relative; overflow: hidden; margin-top: 84px; }
#main-banner-section .main-banner-vertical { display: inline-block; vertical-align: middle; margin-left: -9px; line-height: 56px; padding-left: 0; }
#main-banner-section .main-banner-vertical h1 { font-size: 3.43em; letter-spacing: -3px; line-height: 1; margin-bottom: 0; color: #433a36; }
#main-banner-section .main-banner-vertical h2 { font-size: 3.75em; letter-spacing: -3px; font-family: Karla-Bold; line-height: 1; margin-bottom: 0; color: #433a36; }
#main-banner-section .main-banner-vertical .main-banner-button { height: 56px; width: 390px; background-color: #fdd05f; border-radius: 28px; margin: 30px 0 10px 0; display: block; color: #2a2e28; font-family: Karla-Bold; text-transform: uppercase; font-size: 0.87em; text-align: center; text-decoration: none; color: inherit; position: relative; }
#main-banner-section .main-banner-vertical .main-banner-button:hover { -webkit-box-shadow: 0 3px 5px #aaa; box-shadow: 0 3px 5px #aaa; }
#main-banner-section .main-banner-vertical .main-banner-button::after { content: url("../img/main-banner-arrow.png"); position: absolute; background-size: 100%; top: 3px; right: 25px; }
#main-banner-section img { position: absolute; right: -70px; top: 79px; width: 773px; }

@media screen and (max-width: 1369px) { #main-banner-section .main-banner-vertical { margin-left: 0; } }
@media screen and (max-width: 1199px) { #main-banner-section img { width: 600px; top: 111px; right: -120px; } }
@media screen and (max-width: 991px) { #main-banner-section { height: 430px; line-height: 430px; }
  #main-banner-section img { width: 500px; top: 93px; right: -223px; }
  #main-banner-section .main-banner-vertical h1 { font-size: 2.2em; letter-spacing: -1px; }
  #main-banner-section .main-banner-vertical h2 { font-size: 2.5em; letter-spacing: -1px; } }
@media screen and (max-width: 767px) { #main-banner-section { text-align: center; margin-top: 52px; }
  #main-banner-section img { width: 380px; top: initial; right: initial; position: relative; margin: auto; }
  #main-banner-section .main-banner-vertical h1 { font-size: 1.87em; }
  #main-banner-section .main-banner-vertical h2 { font-size: 2.25em; }
  #main-banner-section .main-banner-vertical .main-banner-button { width: 308px; height: 43px; line-height: 44px; font-size: 0.75em; margin: 30px auto; }
  #main-banner-section .main-banner-vertical .main-banner-button::after { right: 15px; } }
@media screen and (max-width: 575px) { #main-banner-section { height: 412px; line-height: 412px; text-align: center; border: none; margin-top: 107px; }
  #main-banner-section img { max-width: 319px; width: 100%; top: initial; right: initial; position: relative; }
  #main-banner-section .main-banner-vertical { width: 100%; }
  #main-banner-section .main-banner-vertical .main-banner-button { margin-bottom: 23px; width: 100%; max-width: 308px; } }
#special-offer-section { height: auto; background-color: #fff; padding-top: 70px; padding-bottom: 42px; }
#special-offer-section .special-offer-1 { width: 100%; max-width: 378px; margin-bottom: 18px; }
#special-offer-section .special-offer-2 { width: 100%; max-width: 774px; margin-bottom: 18px; }
#special-offer-section img:hover { -webkit-box-shadow: 0 3px 5px #aaa; box-shadow: 0 3px 5px #aaa; }
#special-offer-section h3 { display: none; }

@media screen and (max-width: 575px) { #special-offer-section { padding-top: 20px; padding-bottom: 20px; }
  #special-offer-section .col-sm-4, #special-offer-section .col-sm-8 { text-align: center; }
  #special-offer-section .special-offer-1, #special-offer-section .special-offer-2 { max-width: 320px; width: 100%; } }
#category-section { background-color: #ffffff; }
#category-section .category-section-row { -webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 60px; overflow: hidden; }
#category-section .category-section-row .category-section-heading { border-bottom: 1px solid #ded7d3; margin-bottom: 25px; padding-bottom: 20px; position: relative; }
#category-section .category-section-row .category-section-heading .section-heading-icon { position: absolute; top: 5px; left: 0; }
#category-section .category-section-row .category-section-heading h3 { text-transform: uppercase; color: #2e2e2e; font-size: 1.62em; font-family: Karla-Bold; margin-left: 40px; margin-bottom: 0; display: inline-block; }
#category-section .category-section-row .category-section-heading .category-section-right { width: 26px; height: 26px; border: none; outline: none; float: right; background: transparent url("../img/category-right.png"); margin-left: 7px; }
#category-section .category-section-row .category-section-heading .right-active { background: transparent url("../img/category-right-active.png"); }
#category-section .category-section-row .category-section-heading .category-section-left { width: 26px; height: 26px; border: none; outline: none; float: right; background: transparent url("../img/category-left.png"); }
#category-section .category-section-row .category-section-heading .left-active { background: transparent url("../img/category-left-active.png"); }
#category-section .category-section-row .category-section-heading .right-active:hover, #category-section .category-section-row .category-section-heading .left-active:hover { cursor: pointer; }
#category-section .category-section-row .category-items-wrapper { width: 100%; }
#category-section .category-section-row .category-items-wrapper .category-section-item { width: 208px; min-height: 440px; margin-right: 32px; position: relative; display: inline-block; float: left; padding-bottom: 85px; }
#category-section .category-section-row .category-items-wrapper .category-section-item a:first-child { background-color: #eee; display: inline-block; width: 100%; height: 261px; line-height: 258px; text-align: center; }
#category-section .category-section-row .category-items-wrapper .category-section-item img { width: auto; height: auto; max-height: 261px; max-width: 208px; vertical-align: middle; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-title { margin-top: 15px; margin-bottom: 0; color: #321d14; font-family: Karla-Bold; font-size: 1.1em; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-title:hover { display: inherit; background-color: #fff; position: absolute; z-index: 200; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-author { color: #878787; font-size: .87em; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; position: absolute; left: 0; top: 330px; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-author:hover { display: inherit; background-color: #fff; z-index: 200; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-author > a:first-child { background-color: inherit; color: inherit; display: inline; width: auto; height: auto; line-height: 1; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-author > a { color: inherit; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-price { color: #359d68; font-family: Karla-Bold; font-size: 1.25em; position: absolute; bottom: 34px; left: 0; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-currency { color: #b8b8b8; font-family: Karla-Bold; font-size: .75em; position: absolute; bottom: 54px; left: 70px; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-button { display: block; outline: none; background: transparent; border: 1px solid #ea9c26; color: #ea9c26; font-family: Karla-Bold; font-size: .81em; text-transform: uppercase; text-align: center; line-height: 38px; max-width: 140px; width: 100%; height: 40px; border-radius: 20px; position: absolute; left: 0; bottom: 0; }
#category-section .category-section-row .category-items-wrapper .category-section-item img:hover { text-decoration: none; -webkit-box-shadow: 0 3px 5px #aaa; box-shadow: 0 3px 5px #aaa; }
#category-section .category-section-row .category-items-wrapper .category-section-item .section-item-button:hover { background-color: #ea9c26; color: #fff; text-decoration: none; -webkit-box-shadow: none; box-shadow: none; }
#category-section .category-section-row .category-items-wrapper .category-section-item:last-child { margin-right: 0; }

@media screen and (max-width: 1199px) { #category-section .category-section-row .category-items-wrapper .category-section-item { width: 174px; margin-right: 17px; min-height: 400px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item a:first-child { height: 218px; line-height: 215px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item img { max-height: 218px; max-width: 174px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item .section-item-author { top: 290px; } }
@media screen and (max-width: 991px) { #category-section .category-section-row .category-items-wrapper .category-section-item { width: 163px; margin-right: 16px; min-height: 390px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item a:first-child { height: 205px; line-height: 202px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item img { max-height: 205px; max-width: 163px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item .section-item-author { top: 276px; } }
@media screen and (max-width: 767px) { #category-section .category-section-row .category-items-wrapper .category-section-item { margin-right: 15px; } }
@media screen and (max-width: 575px) { #category-section .category-section-row { height: auto; padding-bottom: 32px; width: 100%; max-width: 307px; margin: auto; }
  #category-section .category-section-row .category-section-heading { padding-bottom: 10px; }
  #category-section .category-section-row .category-section-heading .section-heading-icon { top: 0; }
  #category-section .category-section-row .category-section-heading h3 { font-size: 1.25em; width: 200px; padding-top: 3px; line-height: 1; }
  #category-section .category-section-row .category-heading-doubleline { padding-bottom: 5px; }
  #category-section .category-section-row .category-heading-doubleline .section-heading-icon { top: 5px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item { width: 145px; margin-right: 15px; min-height: 355px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item a:first-child { height: 182px; line-height: 180px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item img { max-height: 182px; max-width: 145px; }
  #category-section .category-section-row .category-items-wrapper .category-section-item .section-item-title { line-height: 1; }
  #category-section .category-section-row .category-items-wrapper .category-section-item .section-item-author { font-size: .75em; top: 245px; } }
#bottom-banner-section { height: 352px; line-height: 352px; background: #43cf9f url("../img/bottom-banner.jpg") no-repeat; background-size: cover; background-position: center center; text-align: center; position: relative; }
#bottom-banner-section .bottom-banner-vertical { display: inline-block; vertical-align: middle; line-height: 1; width: 100%; }
#bottom-banner-section h3 { color: #fff; font-family: Karla-Bold; font-size: 3.75em; letter-spacing: -3px; line-height: 1; margin-bottom: 0; }
#bottom-banner-section p { color: #fff; font-family: Karla-Regular; font-size: 1.87em; letter-spacing: -1px; line-height: 1; margin-bottom: 34px; }
#bottom-banner-section form { width: 100%; max-width: 753px; min-width: 312px; margin: 0 auto 10px auto; text-align: left; font-size: 1em; }
#bottom-banner-section input { width: 527px; height: 66px; border-bottom-left-radius: 33px; border-top-left-radius: 33px; border: none; outline: none; padding: 0 0 0 50px; color: #414241; float: left; }
#bottom-banner-section button { width: 226px; height: 66px; border-bottom-right-radius: 33px; border-top-right-radius: 33px; text-transform: uppercase; font-family: Karla-Bold; color: #2a2e28; border: none; outline: none; padding: 0; background-color: #fdd05f; font-size: 0.94em; float: right; position: relative; }
#bottom-banner-section button:hover { cursor: pointer; background-color: #e3bb55; }
#bottom-banner-section button::before { content: url("../img/email-icon.png"); position: absolute; left: 31px; top: 27px; }

@media screen and (max-width: 991px) { #bottom-banner-section input { width: 435px; }
  #bottom-banner-section button { width: 267px; } }
@media screen and (max-width: 767px) { #bottom-banner-section h3 { font-size: 3.25em; }
  #bottom-banner-section p { font-size: 1.5em; }
  #bottom-banner-section input { width: 340px; font-size: 0.94em; padding-left: 35px; }
  #bottom-banner-section button { font-size: 0.87em; width: 182px; padding-left: 17px; }
  #bottom-banner-section button::before { left: 23px; } }
@media screen and (max-width: 575px) { #bottom-banner-section { height: 285px; line-height: 285px; }
  #bottom-banner-section h3 { font-size: 2.25em; letter-spacing: -1px; }
  #bottom-banner-section p { font-size: 1.25em; letter-spacing: 0; margin-bottom: 20px; margin-top: 5px; }
  #bottom-banner-section form { max-width: 312px; width: 100%; position: relative; height: 100px; }
  #bottom-banner-section form input { width: 302px; height: 50px; border-radius: 25px; text-align: center; padding-left: 0; display: block; }
  #bottom-banner-section form button { width: 302px; height: 50px; border-radius: 25px; padding-left: 18px; position: absolute; left: 0; top: 55px; }
  #bottom-banner-section form button::before { left: 87px; top: 20px; } }
#articles-section { background-color: #f4f4f4; padding-top: 69px; padding-bottom: 50px; position: relative; }
#articles-section .col { overflow-x: hidden; }
#articles-section h3 { text-transform: uppercase; color: #222326; font-size: 1.5em; font-family: Karla-Bold; letter-spacing: 3px; margin-bottom: 37px; padding-top: 5px; display: inline-block; }
#articles-section form { display: inline-block; width: 740px; height: 30px; padding-left: 40px; margin-top: 12px; margin-left: 120px; font-size: 0.87em; vertical-align: top; position: relative; }
#articles-section form button { background: transparent url(../img/search-event-icon.png) no-repeat; background-position: center; border: none; outline: none; width: 40px; height: 22px; padding: 0; left: 0; position: absolute; }
#articles-section form button:hover { cursor: pointer; }
#articles-section form input { width: 370px; border: none; outline: none; border-bottom: 1px solid #cccccc; background: transparent; color: #aaaaaa; text-transform: uppercase; padding: 0 0 0 10px; }
#articles-section form ::-webkit-input-placeholder { color: #aaaaaa; }
#articles-section form :-ms-input-placeholder { color: #aaaaaa; }
#articles-section form ::-ms-input-placeholder { color: #aaaaaa; }
#articles-section form ::placeholder { color: #aaaaaa; }
#articles-section form select { background: transparent; border: none; outline: none; color: #aaaaaa; text-transform: uppercase; padding: 0 5px; margin-left: 15px; }
#articles-section form select:hover { cursor: pointer; }
#articles-section form option { color: #aaaaaa; background: transparent; font-size: 0.87em; border: none; }
#articles-section .articles-arrows { width: 100px; height: 25px; position: absolute; right: 10px; top: 8px; text-align: right; }
#articles-section .articles-arrows img { margin-left: 6px; margin-right: 6px; vertical-align: top; }
#articles-section .articles-arrows img:hover { cursor: pointer; }
#articles-section #articles-items-wrapper .articles-item { width: 364px; margin-right: 39px; position: relative; display: inline-block; float: left; }
#articles-section #articles-items-wrapper .articles-item a { text-decoration: none; }
#articles-section #articles-items-wrapper .articles-item h4 { color: #321d14; text-decoration: none; font-family: Karla-Bold; font-size: 1.37em; letter-spacing: -0.5px; }
#articles-section #articles-items-wrapper .articles-item .posted-by { color: #a6a6a6; font-size: 0.87em; }
#articles-section #articles-items-wrapper .articles-item .posted-by-details { font-family: Karla-Bold; font-size: 0.87em; color: #6e6c6b; }
#articles-section #articles-items-wrapper .articles-item img { margin-bottom: 17px; margin-top: 5px; width: 100%; height: auto; }
#articles-section #articles-items-wrapper .articles-item img:hover { -webkit-box-shadow: 0 3px 5px #aaa; box-shadow: 0 3px 5px #aaa; }
#articles-section #articles-items-wrapper .articles-item:last-child { margin-right: 0; }

@media screen and (max-width: 1199px) { #articles-section form { margin-left: 25px; width: 583px; }
  #articles-section form input { width: 273px; }
  #articles-section form select { margin-left: 5px; }
  #articles-section #articles-items-wrapper .articles-item { width: 297px; margin-right: 25px; } }
@media screen and (max-width: 991px) { #articles-section form { margin-left: 30px; width: 320px; }
  #articles-section form input { width: 100%; }
  #articles-section form select { display: none; }
  #articles-section #articles-items-wrapper .articles-item { width: 336px; margin-right: 30px; }
  #articles-section #articles-items-wrapper .articles-item h4 { font-size: 1.25em; } }
@media screen and (max-width: 767px) { #articles-section form { width: 100%; margin-left: -3px; margin-bottom: 14px; }
  #articles-section #articles-items-wrapper .articles-item { width: 251px; margin-right: 20px; }
  #articles-section #articles-items-wrapper .articles-item h4 { font-size: 1.12em; } }
@media screen and (max-width: 575px) { #articles-section { padding-top: 39px; padding-bottom: 25px; }
  #articles-section .container { width: 100%; max-width: 320px; margin: auto; overflow-x: hidden; }
  #articles-section h3 { font-size: 1.37em; margin-bottom: 10px; padding-top: 9px; }
  #articles-section .articles-arrows { right: 2px; }
  #articles-section #articles-items-wrapper .articles-item { width: 302px; margin-right: 10px; }
  #articles-section #articles-items-wrapper .articles-item h4 { font-size: 1em; } }
#customer-section { height: auto; background-color: #fff; text-align: center; padding-top: 62px; padding-bottom: 54px; }
#customer-section h4 { text-transform: uppercase; color: #2e2e2e; font-size: 1.87em; letter-spacing: -2px; font-family: Karla-Bold; margin-bottom: 14px; }
#customer-section p { color: #2e2e2e; margin-bottom: 73px; letter-spacing: -0.5px; }
#customer-section .total-score { background-color: #fdd05f; width: 227px; height: 284px; padding-top: 45px; color: #9e7715; font-family: Karla-Bold; text-transform: uppercase; float: left; display: inline-block; }
#customer-section .total-score .total-score-circle { width: 150px; height: 150px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 8px solid #9e7715; margin: 0 auto 20px auto; border-radius: 75px; text-align: center; padding-top: 25px; }
#customer-section .total-score .total-score-circle #total-score-number { font-size: 3.44em; }
#customer-section .total-score .total-score-out { font-size: 1.41em; }
#customer-section .detailed-score { display: inline-block; width: 344px; }
#customer-section .detailed-score .detailed-score-title { border-bottom: 1px solid #e8e8e8; height: 76px; text-align: left; font-size: 0.87em; padding: 6px 40px 0 147px; position: relative; }
#customer-section .detailed-score .detailed-score-title #percentage { position: absolute; left: 30px; top: 11px; color: #505151; font-family: Karla-Bold; font-size: 3.72em; letter-spacing: -3px; line-height: 1; }
#customer-section .detailed-score .detailed-score-rating { display: table; width: 344px; padding: 10px 0; }
#customer-section .detailed-score .detailed-score-rating .detailed-score-column { display: table-cell; width: 50%; text-align: right; font-size: 1.12em; }
#customer-section .detailed-score table { width: 344px; }
#customer-section .detailed-score table td:first-child { padding: 0 10px 5px 0; vertical-align: bottom; text-align: right; font-size: 0.75em; }
#customer-section .detailed-score table td:nth-child(2) { padding: 0 10px 5px 10px; vertical-align: bottom; text-align: right; font-size: 0.87em; font-family: Karla-Bold; width: 60px; }
#customer-section .detailed-score table td:last-child { width: 145px; padding: 0 0 5px 10px; vertical-align: bottom; }
#customer-section .customer { border: 1px solid #d9d9d9; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 0 40px #ededed; box-shadow: 0 0 40px #ededed; padding: 15px 20px 0 80px; text-align: left; color: #35363b; position: relative; }
#customer-section .customer p { margin: 5px 0 10px 0; line-height: 1.25; }
#customer-section .customer .customer-feedback { font-size: 0.87em; line-height: 16px; margin-top: 10px; }
#customer-section .customer .customer-image { position: absolute; left: 20px; top: 20px; }
#customer-section .customer:first-child { margin-bottom: 15px; }

@media screen and (max-width: 1199px) { #customer-section .total-score { width: 180px; }
  #customer-section .total-score .total-score-circle { width: 120px; height: 120px; border-radius: 60; padding-top: 15px; }
  #customer-section .total-score .total-score-circle #total-score-number { font-size: 3em; }
  #customer-section .detailed-score { width: 280px; }
  #customer-section .detailed-score .detailed-score-title { padding-right: 0; padding-left: 130px; }
  #customer-section .detailed-score .detailed-score-title #percentage { left: 20px; }
  #customer-section .detailed-score .detailed-score-rating { width: 100%; }
  #customer-section .detailed-score .detailed-score-rating .detailed-score-column { text-align: center; font-size: 1em; }
  #customer-section .detailed-score table { width: 100%; } }
@media screen and (max-width: 991px) { #customer-section p { margin-bottom: 25px; }
  #customer-section .customer:first-child { margin-top: 28px; }
  #customer-section .detailed-score { float: right; width: 344px; }
  #customer-section .detailed-score .detailed-score-rating .detailed-score-column { text-align: right; font-size: 1.12em; }
  #customer-section .total-score { width: 300px; } }
@media screen and (max-width: 767px) { #customer-section .total-score { min-width: 110px; width: 35%; max-width: 200px; padding-top: 60px; }
  #customer-section .total-score .total-score-circle { width: 100px; height: 100px; border-radius: 50px; border: 5px solid #9e7715; padding-top: 13px; }
  #customer-section .total-score .total-score-circle #total-score-number { font-size: 2.6em; }
  #customer-section .total-score .total-score-out { font-size: 1.2em; }
  #customer-section .detailed-score { width: 338px; }
  #customer-section .detailed-score .detailed-score-rating { width: 338px; }
  #customer-section .detailed-score table { width: 338px; } }
@media screen and (max-width: 575px) { #customer-section { padding-top: 42px; padding-bottom: 32px; }
  #customer-section .container { max-width: 490px; margin: auto; }
  #customer-section h4 { font-size: 1.5em; padding: 0 45px; }
  #customer-section p { font-size: 0.94em; }
  #customer-section .total-score { height: 185px; min-width: 99px; width: 31%; max-width: 180px; padding-top: 45px; }
  #customer-section .total-score .total-score-circle { width: 56px; height: 56px; border-radius: 28px; border: 3px solid #9e7715; padding-top: 9px; font-family: Karla-Regular; }
  #customer-section .total-score .total-score-circle #total-score-number { font-size: 1.31em; }
  #customer-section .total-score .total-score-out { font-size: 1em; }
  #customer-section .detailed-score { min-width: 203px; width: 63%; max-width: 283px; }
  #customer-section .detailed-score .detailed-score-title { padding: 0 0 0 65px; height: 50px; line-height: 1.1; }
  #customer-section .detailed-score .detailed-score-title #percentage { font-size: 1.87em; left: 11px; }
  #customer-section .detailed-score .detailed-score-rating { width: 100%; }
  #customer-section .detailed-score .detailed-score-rating .detailed-score-column { padding-left: 5px; text-align: center; font-size: 0.94em; letter-spacing: -0.5px; }
  #customer-section .detailed-score .detailed-score-rating .detailed-score-column img { width: 100%; padding-left: 5px; }
  #customer-section .detailed-score table { width: 100%; text-align: right; }
  #customer-section .detailed-score table td:first-child { padding: 0; font-size: 0.69em; line-height: 12px; }
  #customer-section .detailed-score table td:nth-child(2) { padding: 0 5px 0 5px; font-size: 0.75em; line-height: 12px; width: 50px; }
  #customer-section .detailed-score table td:last-child { min-width: 96px; width: 50%; padding: 0; line-height: 1em; }
  #customer-section .detailed-score table td:last-child img { min-width: 91px; width: 90%; }
  #customer-section .customer { font-size: 0.94em; padding-top: 20px; }
  #customer-section .customer .customer-feedback { padding-bottom: 20px; } }
footer { height: 328px; background-color: #171514; padding-top: 72px; color: #9a928e; font-size: 0.94em; position: relative; }
footer .footer-divider-left { width: 436px; height: 1px; background-color: #272625; position: absolute; top: 92px; left: 0; }
footer .footer-divider-right { width: 436px; height: 1px; background-color: #272625; position: absolute; top: 92px; right: 0; }
footer .wrapper { margin: 0 auto; max-width: 480px; text-align: center; position: relative; }
footer .wrapper .footer-social { margin-right: 10px; }
footer .wrapper .last { margin-right: 0; }
footer .wrapper .footer-logo { margin-bottom: 45px; }
footer .wrapper ul { list-style-type: none; padding-left: 0; padding-top: 29px; }
footer .wrapper ul li { display: inline-block; padding-right: 25px; }
footer .wrapper ul .link-divider::after { content: url("../img/footer-link-divider.png"); position: absolute; padding-left: 13px; }
footer .wrapper ul li:last-child { padding-right: 0; }
footer .wrapper ul a { color: inherit; }
footer .wrapper p { margin-bottom: 0; font-size: 0.87em; }
footer .wrapper ul:last-child { padding-top: 0; font-size: 0.87em; }

@media screen and (max-width: 1199px) { footer { padding-top: 45px; }
  footer .footer-divider-left, footer .footer-divider-right { width: 330px; } }
@media screen and (max-width: 991px) { footer { padding-top: 45px; }
  footer .footer-divider-left, footer .footer-divider-right { width: 200px; } }
@media screen and (max-width: 767px) { footer .footer-divider-left, footer .footer-divider-right { display: none; } }
#login { margin-top: 84px; padding: 60px 0 90px 0; }

.login-wrapper { max-width: 660px; width: 100%; margin: 0 auto; border: 1px solid #d2d2d2; -webkit-box-shadow: 0 0 40px #e9e9e9; box-shadow: 0 0 40px #e9e9e9; padding: 55px 55px 60px 55px; color: #57595b; font-size: .94em; position: relative; }
.login-wrapper a { color: #3dcc9b; }
.login-wrapper h3 { font-size: 1.25em; margin-bottom: 10px; }
.login-wrapper p { color: #3dcc9b; margin: 15px 0 25px 0; }
.login-wrapper ::-webkit-input-placeholder { color: #888c89; }
.login-wrapper :-ms-input-placeholder { color: #888c89; }
.login-wrapper ::-ms-input-placeholder { color: #888c89; }
.login-wrapper ::placeholder { color: #888c89; }
.login-wrapper .divider { margin-bottom: 36px; }
.login-wrapper .form-button { margin-top: 25px; }

.form-input-full { width: 100%; outline: none; border: 1px solid #d2d2d2; height: 50px; border-radius: 25px; padding: 0 25px; margin: 12px 0; }

.form-input-full:focus { border: 1px solid #3dcc9b; }

.form-button { height: 50px; width: 205px; border-radius: 25px; display: block; outline: none; border: none; background-color: #fdd05f; color: #2a2e28; font-weight: bold; font-size: .87em; }

.form-button:hover { -webkit-box-shadow: 0 3px 5px #aaa; box-shadow: 0 3px 5px #aaa; cursor: pointer; }

.form-checkbox:not(#foo) { opacity: 0; width: 25px; height: 25px; border: 1px solid red; }

.form-checkbox:not(#foo) + label { position: absolute; left: 55px; padding: 3px 7px 3px 39px; cursor: pointer; background: url(../img/checkbox-unchecked.png) left center no-repeat; }

.form-checkbox:not(#foo):checked + label { background: url(../img/checkbox-checked.png) left center no-repeat; }

.divider { width: 100%; height: 1px; background-color: #d2d2d2; }

@media screen and (max-width: 767px) { #login { margin-top: 52px; } }
@media screen and (max-width: 575px) { #login { margin-top: 107px; padding: 9px 0; }
  .login-wrapper { padding: 30px 15px; }
  .form-checkbox:not(#foo) + label { left: 15px; } }
#register { margin-top: 84px; padding: 60px 0 90px 0; }
#register .form-validation-wrapper { position: relative; margin-bottom: 20px; }
#register .form-validation-wrapper input { width: 363px; }
#register .form-validation-wrapper img { position: absolute; top: 13px; right: 0; }

@media screen and (max-width: 767px) { #register { margin-top: 52px; }
  #register .form-validation-wrapper input { width: 226px; } }
@media screen and (max-width: 575px) { #register { margin-top: 107px; padding: 9px 0; }
  #register .form-validation-wrapper input { width: 100%; }
  #register .form-validation-wrapper img { position: relative; margin-bottom: 20px; } }
#member { margin-top: 84px; padding: 60px 0 90px 0; }

.member-heading { padding: 15px 0 15px 30px; background-color: #3dcc9b; background: url("../img/bottom-banner.jpg") no-repeat center; background-size: cover; }
.member-heading .member-heading-avatar { width: 64px; height: 64px; border-radius: 32px; background: url("../img/member-avatar.jpg") no-repeat center; position: relative; }
.member-heading p { display: inline; position: absolute; top: 35px; left: 135px; font-weight: bold; font-size: 1.12em; color: #fff; }

@media screen and (max-width: 767px) { #member { margin-top: 52px; } }
@media screen and (max-width: 575px) { #member { margin-top: 107px; padding: 9px 0; } }
